<style>
  .modal-wrapper {
      z-index: 10;
      min-height:281px;
      contain: strict;
  }
  
  </style>
  <!--<ion-header>
      <ion-navbar>
        <ion-title>Make a Note</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
          <ion-icon name='bulb'></ion-icon>
        </button>
        </ion-buttons>
      </ion-navbar>
    </ion-header>-->
  
    <ion-content padding >
  
        <ion-grid>
            <ion-row>
     
      <ion-col col-6 style="text-align: left;"  class="pop" (click)="saveNote(note)">
          Save
        </ion-col>
        <ion-col col-6 style="text-align:right;" class="pop" (click)="dismiss()" id="loginShow" type="submit" block >
         <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </ion-col>
            </ion-row>
          </ion-grid>
       
          <ion-grid>
              <ion-row>
                <ion-list>
                  <ion-item>
                    
        <textarea style="min-height: 200px; margin-left: 5px;" placeholder="Note here"  [(ngModel)]="note"  id="noteme" name="text" rows="4" ngModel required></textarea> 
        </ion-item>
        </ion-list>
        </ion-row>
        </ion-grid>
    </ion-content>
    
    
    