

page-hint-modal {

.card-ios {
        margin:-6px;
        border-radius: 2px;
        width: calc(100% - -11px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    
    .item-ios p {
    font-size: 18px;
    color: black;
    padding-top:7px;
    }



  ion-footer button {
    margin: 0 !important;
  }
}
page-popup-modal {
  ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
 
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }

  .mdl-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
 }

  }
  
  ion-modal.inset-modalNote {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
  }
  #noteme {
    border: 1px solid #fff;
    background: #fff;
    color: black;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 100%;
    font-size: 109%;
  }
  
  .modal-wrapper {
    z-index: 10;
    min-height:auto;
    contain: strict;
  }

  .modal-wrapper {
    z-index: 10;
    height:100%;
   
    contain: strict;
  }

  .pop{

    font-size: 20px; 

  }
 