<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Return Policy</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content padding class="bgpic">
            <ion-list>
                    
                    <ion-item text-wrap>
                                <p style="font-size: 14px; background-color:white;">If you are not 100% satisfied with your purchase, within 30 days from the purchase date, we will fully refund the cost of your order.</p>
                        Voucher codes cannot be re-issued and are non-refundable. If you return an item which was purchased using a voucher code, only the final paid price (after discount) will be refunded</ion-item>
                    <ion-item text-wrap>This is not applicable for services like and not limited to mock tests. For which no refunds will be issued after the exam date or the date of action.</ion-item>
                   <ion-item text-wrap>
                        Refunds (if applicable)
                   </ion-item>
                <ion-item text-wrap>
                        Once your return request is received, we will notify you of the approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within 10 working days.
                </ion-item>
                <ion-item text-wrap>
                        Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                </ion-item>
                <ion-item text-wrap>
                        Late or missing refunds (if applicable)
                </ion-item>
                <ion-item text-wrap>
                        If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us at contactus@nextfellow.com.
                </ion-item>
            </ion-list>
          </ion-content>