<!--<ion-header>
    <ion-navbar>
      <ion-title>Make a Note</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
        <ion-icon name='bulb'></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>-->
<!-- 
  <ion-content padding  style="height: 60%;">
        <ion-navbar>
            <ion-title>Make a Note</ion-title>
            <ion-buttons end>
                <button ion-fab class="pop-in"   (click)="deleteNote()" style="float: right;
                width: 32px;
                height: 32px; background-color:#e24a4a;">  <ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
            </ion-buttons>
          </ion-navbar>
          <ion-grid>
              <ion-row>
                <ion-list>
                  <ion-item>
                    
        <textarea   [(ngModel)]="note"  id="noteme" name="text" rows="4" ngModel required></textarea> 
        </ion-item>
        </ion-list>
        </ion-row>
        <ion-row responsive-sm class="mdl-btn" style="margin-bottom:5px;">
            <ion-col>
              <button ion-button (click)="dismiss()" id="loginShow" type="submit" block style="background-color:#108fd2; color: white;">Cancel</button>
            </ion-col>
            <ion-col>
      
              <button type="submit" ion-button color="light"  block (click)="saveNote(note)" [disabled]="!note" style="background-color:#108fd2; color: white;">Save</button>
            </ion-col>
          </ion-row>
    
        </ion-grid>
    </ion-content> -->


<!--<ion-header>
    <ion-navbar>
      <ion-title>Make a Note</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
        <ion-icon name='bulb'></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>-->

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col col-4 class="pop" (click)="saveNote(note)">
        Save
      </ion-col>
      <ion-col col-4 style="text-align:center;" class="pop" (click)="deleteNote()">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </ion-col>
      <ion-col col-4 style="text-align:right;" class="pop" (click)="dismiss()" id="loginShow" type="submit" block>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-list>
        <ion-item>

          <textarea style="min-height: 200px; margin-left: 5px;" [(ngModel)]="note" id="noteme" name="text" rows="4" ngModel required></textarea>
        </ion-item>
      </ion-list>
    </ion-row>


  </ion-grid>
</ion-content>