

page-hint-modal {
  ion-footer button {
    margin: 0 !important;
  }
}
page-popup-modal {
  ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
 
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
  .mdl-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
 }


  }
  
  ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
  }
  #noteme {
    border: 1px solid #fff;
    background: #fff;
    color: black;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 100%;
    font-size: 109%;
  }

  .modal-wrapper {
   
   min-height:281px;
 
   contain: strict;
  }

  .pop{

    font-size: 20px; text-align:center;

  }

  .ion-modal.inset-modal {
    margin-top: 0px;
    padding-top: 10px!important;
    height: 298px;
}