
 <style>
    .card-md {
       margin-left:-4px !important;
       border-radius: 2px!important;
       width: calc(100% - -8px)!important;   
     }
   </style>
   
   <ion-header>
           <ion-navbar>
               <button ion-button menuToggle>
                   <ion-icon name="menu"></ion-icon>
               </button>
               <ion-title>        Pro users
            </ion-title>
           </ion-navbar>
       </ion-header>
       
       <ion-content padding style="background-color: #efefef;" #contentRef (ionScroll)="scrollingFun($event)">

            <!-- <ion-slides pager style="height:100%;background-color:white; box-shadow: 0 8px 6px -6px black; border: 1px solid #108fd2;">

                    <ion-slide >
                      <ion-row >
                      <ion-col col-12 >
          
                          <img src="assets/img/girl-avatar.png" style="width:100%; ">
          
                      </ion-col>
          
                      </ion-row>
                      <ion-row>
                          <ion-col col-12 style="text-align:left;padding:5px;">
          
                           <h4> nextfellow</h4>
                           <p>Lorem ipsum dolor sit amet, vim cu nulla dolor. Melius salutandi sententiae pro ad. Has in voluptaria interesset, at pri wisi habeo. Ius postea habemus instructior an, ei qui veri verear vivendo, ex postea persecuti philosophia nam.
                            </p>
                          </ion-col>
                          </ion-row>
                          
                    </ion-slide>
                  
                    <ion-slide style="background-color: white">
                        <ion-row >
                            <ion-col col-12 >
                
                                <img src="assets/img/girl-avatar.png" style="width:100%; ">
                
                            </ion-col>
                
                            </ion-row>
                            <ion-row>
                                <ion-col col-12 style="text-align:left;padding:5px;">
                
                                 <h4> nextfellow</h4>
                                 <p>Lorem ipsum dolor sit amet, vim cu nulla dolor. Melius salutandi sententiae pro ad. Has in voluptaria interesset, at pri wisi habeo. Ius postea habemus instructior an, ei qui veri verear vivendo, ex postea persecuti philosophia nam.
                                  </p>
                                </ion-col>
                                </ion-row>
                               
                    </ion-slide>
                  
                    <ion-slide style="background-color:white">
                        <ion-row >
                            <ion-col col-12 >
                
                                <img src="assets/img/girl-avatar.png" style="width:100%; ">
                
                            </ion-col>
                
                            </ion-row>
                            <ion-row>
                                <ion-col col-12 style="text-align:left;padding:5px;">
                
                                 <h4> nextfellow</h4>
                                 <p>Lorem ipsum dolor sit amet, vim cu nulla dolor. Melius salutandi sententiae pro ad. Has in voluptaria interesset, at pri wisi habeo. Ius postea habemus instructior an, ei qui veri verear vivendo, ex postea persecuti philosophia nam.
                                  </p>
                                </ion-col>
                                </ion-row>
                                
                    </ion-slide>
                 
                  
                  </ion-slides> -->
              
                   <!-- <ion-card style="height:73px;margin-left: 0px;">
                       <ion-slides [slidesPerView]="3">
                           <ion-slide class="blocks1">
                               <h2 class="blockData" style="color: white;">Weekend
                                   <br>Exam</h2>
                           </ion-slide>
   
                       </ion-slides>
                   </ion-card> -->
                   <ion-card style="height: 63px;margin-left: 0px;
                  ">
                       <ion-slides  [slidesPerView]="2">
                           <ion-slide  (click)="getData()" [ngClass]="(bgColor1)?'selected':'unselected'">
                               <span  style="font-size: 15px;">Daily Test Series</span>
                           </ion-slide>
                         
                          
<!--                          
                            <ion-slide  (click)="getData2()"  [ngClass]="(bgColor2)?'selected':'unselected'">
                                    <span style="font-size: 15px;" >Weekend Test Series</span>
                                </ion-slide> -->
                                <ion-slide  (click)="getData1();getfirstcolor()" [ngClass]="(selecteditem)?'selected':'unselected'" id="clickYearOne">
                                    <span style="font-size: 15px;" >NEET-PG Package</span>
                                </ion-slide>
                                <ion-slide  (click)="getData4()" [ngClass]="(bgColor3)?'selected':'unselected'" >
                                    <span  style="font-size: 15px;">AIIMS/JIPMER Series</span>
                                </ion-slide>
                          
                       </ion-slides>
                   </ion-card>
   
                   <ion-card style="height:auto;margin-left: 0px;
                   "   *ngIf="details">
                       <!-- <ion-row class="BtnRow"> -->
                           <!-- <ion-col>
                               <button ion-button style="background-color:#108fd2">Timetables</button>
                           </ion-col> -->
           
                           <!-- <ion-col class="BtnRow1">
           
                               <a href="assets/img/netfellowTimetable.pdf" class="button download" download>
                                   <ion-icon name="download"></ion-icon>
                               </a>
                           </ion-col> -->
                           <!-- <button ion-button (click)="downloadFile() " ><ion-icon name="download"></ion-icon></button></ion-col>
                           -->
                       <!-- </ion-row> -->
                       <ion-row>
                           <ion-col col-12>
                               <p style="text-align: center;
                               font-size: 17px;
                               padding: 8px;
                               ">Prepare with nextfellow for AIIMS & NEET PG 2019</p>
                               <hr>
                           </ion-col>
                           <ion-grid>
                           <ion-row>
                           <ion-list>
                               
                                <ion-col col-12 style="text-align: center;">
                               <ion-item style="padding-left: 30px;">
                                    <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                    <span style="font-size: 15px;
                                    font-weight: bold;">Daily topic wise tests(10-25 MCQs)</span>
                               </ion-item>
                               
                           
                               <ion-item style="padding-left: 30px;">
                                    <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                    <span style="font-size: 15px;
                                    font-weight: bold;">Daily high yeild notes and pearls</span>
                               </ion-item>
                               <ion-item style="padding-left: 30px;">
                                    <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                    <span style="font-size: 15px;
                                    font-weight: bold;">Subject wise weekend tests</span>
                               </ion-item>
                               <ion-item style="padding-left: 30px;">
                                    <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                  <span style="font-size: 15px;
                                  font-weight: bold;"> Weekly image based test(10-25 MCQs)</span>
                               </ion-item>
                            </ion-col>

                           </ion-list>
                           </ion-row>
                        </ion-grid>
<ion-grid>
    <ion-row>

                           <!-- <ion-col col-12 style="text-align: center;">
                                <button ion-button style="color:#fff;background-color: #108fd2"  round>&#x20b9;{{paymentdata}}</button>
                           </ion-col> -->
                        </ion-row>
                        </ion-grid>
                        <ion-grid>
                        <ion-row>
                           <!-- <form  #subForm="ngForm" (ngSubmit)="basicForm(subForm.value)" novalidate>
                              
                                    <ion-row>
                                        <ion-col col-8>
                                    <ion-input type="text" #promocode="ngModel" id="promocode" placeholder="Enter Promo code here" 
                                      name="promocode" required ngModel></ion-input>
    </ion-col>
                                  <ion-col col-4>
                                  <button ion-button  class="bgcolor" type="submit" style="background-color:black;color:#fff"  [disabled]='dailyApply'>Apply</button>
    </ion-col>
                                  </ion-row>
                               
                                     
                                </form> -->
                            </ion-row>
</ion-grid>

                                <ion-col>
                                        <button ion-button block round style="background-color:#108fd2;color:white; " [disabled]='isRegistered' (click)="PROPOP('basic','6 Months',false)">Send enquiry</button>
                                </ion-col>
                       </ion-row>
                       <!-- <ion-row class="BtnRow">
                           <ion-col>
                               <h2>
                                   <b style="margin-left: 11px;"> 54 Subjectwise Test</b>
                               </h2>
                               <br>
                               <h2>
                                   <b style="margin-left: 5px;">54 Grand/Special Test</b>
                               </h2>
                           </ion-col>
                       </ion-row>
                       <ion-row>
                           <ion-col>
                               <button ion-button block style="margin-top:58px; height: 57px;background-color:#108fd2;" [disabled]='isRegistered' (click)="payment('pro','Yearly',false)">
                                   <h2 style="color:#fff">{{registerLabel}}</h2> &nbsp;&nbsp;
                                   <div *ngIf="registerLabel==Register">
                                       <h2 style="text-decoration: line-through; color:#fff">2500</h2>
                                       <h2 style="color:#fff;margin-top: 33px;
                         margin-left: -33px;
                         font-size: 20px;">1750</h2>
                                   </div>
                               </button>
                           </ion-col>
                       </ion-row> -->
           
                   </ion-card>
               <ion-card style="height: 427px;;margin-left: 0px;
               "   *ngIf="details1">
                   <!-- <ion-row class="BtnRow"> -->
                       <!-- <ion-col>
                           <button ion-button style="background-color:#108fd2">Timetables</button>
                       </ion-col> -->
       
                       <!-- <ion-col class="BtnRow1">
       
                           <a href="assets/img/netfellowTimetable.pdf" class="button download" download>
                               <ion-icon name="download"></ion-icon>
                           </a>
                       </ion-col> -->
                       <!-- <button ion-button (click)="downloadFile() " ><ion-icon name="download"></ion-icon></button></ion-col>
                       -->
                   <!-- </ion-row> -->
                   <ion-row>
                       <ion-col>
                           <p style="text-align: center;
                           font-size: 17px;
                           padding: 8px;
                           ">Prepare with nextfellow for AIIMS & NEET PG 2019</p>
                           <hr>
                       </ion-col>
                       <ion-grid>
                            <ion-row>
                       <ion-list>
                  <ion-col col-12>
                           <ion-item style="padding-left: 30px;">
                                <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                <span style="font-size: 15px;
                                font-weight: bold;">Daily test series</span>
                           </ion-item>
                           <ion-item style="padding-left: 30px;">
                                <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                              <span style="font-size: 15px;
                              font-weight: bold;">Week end series</span>
                           </ion-item>
                        </ion-col>
                       </ion-list>
</ion-row>
</ion-grid>
<ion-grid>
        <ion-row>
    
                       <!-- <ion-col col-12 style="text-align: center" >
                            <button *ngIf="!basicButton" ion-button style="color:#fff;background-color: #108fd2"  round>&#x20b9;{{paymentdata2}}</button>

                            <button *ngIf="basicButton" ion-button style="color:#fff;background-color: #108fd2"  round>&#x20b9;700(offer)</button>
                       </ion-col> -->
                      </ion-row>
                      </ion-grid>
                      <ion-grid>
                            <ion-row>
                        
                       <!-- <form  #subForm="ngForm" (ngSubmit)="Feedback(subForm.value)" novalidate>
                          
                                <ion-row >
                                    <ion-col col-8>
                                <ion-input type="text" #promocode="ngModel" id="promocode" placeholder="Enter Promo code here" 
                                  name="promocode" required ngModel></ion-input>
</ion-col>
                              <ion-col col-4>
                              <button ion-button  class="bgcolor" type="submit" style="background-color:black;color:#fff"   [disabled]='fullApply'>Apply</button>
</ion-col>
                           
                              </ion-row>
                           
                                 
                            </form> -->
                            </ion-row>
                            </ion-grid>
                            <ion-col>
                                    <button ion-button block round style="background-color:#108fd2;color:white; " *ngIf="!basicButton" [disabled]='isRegistered' (click)="PROPOP('pro','Yearly',false)">Send enquiry</button>
                                    <button ion-button block round style="background-color:#108fd2;color:white; " *ngIf="basicButton"  (click)="PROPOP('pro','Yearly',false)">Send enquiry</button>

                                </ion-col>
                   </ion-row>
                   <!-- <ion-row class="BtnRow">
                       <ion-col>
                           <h2>
                               <b style="margin-left: 11px;"> 54 Subjectwise Test</b>
                           </h2>
                           <br>
                           <h2>
                               <b style="margin-left: 5px;">54 Grand/Special Test</b>
                           </h2>
                       </ion-col>
                   </ion-row>
                   <ion-row>
                       <ion-col>
                           <button ion-button block style="margin-top:58px; height: 57px;background-color:#108fd2;" [disabled]='isRegistered' (click)="payment('pro','Yearly',false)">
                               <h2 style="color:#fff">{{registerLabel}}</h2> &nbsp;&nbsp;
                               <div *ngIf="registerLabel==Register">
                                   <h2 style="text-decoration: line-through; color:#fff">2500</h2>
                                   <h2 style="color:#fff;margin-top: 33px;
                     margin-left: -33px;
                     font-size: 20px;">1750</h2>
                               </div>
                           </button>
                       </ion-col>
                   </ion-row> -->
       
               </ion-card>
               <ion-card style="height: 427px;;margin-left: 0px;
               "   *ngIf="details2">
                   <!-- <ion-row class="BtnRow"> -->
                       <!-- <ion-col>
                           <button ion-button style="background-color:#108fd2">Timetables</button>
                       </ion-col> -->
       
                       <!-- <ion-col class="BtnRow1">
       
                           <a href="assets/img/netfellowTimetable.pdf" class="button download" download>
                               <ion-icon name="download"></ion-icon>
                           </a>
                       </ion-col> -->
                       <!-- <button ion-button (click)="downloadFile() " ><ion-icon name="download"></ion-icon></button></ion-col>
                       -->
                   <!-- </ion-row> -->
                   <!-- <ion-row>
                       <ion-col>
                           <p style="text-align: center;
                           font-size: 17px;
                           padding: 8px;
                           ">Prepare with nextfellow for AIIMS & NEET PG 2019</p>
                           <hr>
                       </ion-col>
                       <ion-grid>
                        <ion-row>
                       <ion-list>
                           <ion-col col-12>
                           <ion-item style="padding-left: 30px;">
                                <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                <span style="font-size: 15px;
                                font-weight: bold;">20 subject wise tests</span>
                           </ion-item>
                           <ion-item style="padding-left: 30px;">
                                <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                                <span style="font-size: 15px;
                                font-weight: bold;">10 mock/special tests</span>
                           </ion-item>
                        </ion-col>
                       </ion-list>
                     </ion-row>
                    </ion-grid>
                            <ion-grid>
                                <ion-row>
                       <ion-col col-12 style=" text-align: center;">
                            <button ion-button style="color:#fff;background-color: #108fd2"round>&#x20b9;1999</button>
                       </ion-col>
                       </ion-row>
                       </ion-grid>
                       <ion-grid>
                           <ion-row>
                      
                       <form  #subForm="ngForm" (ngSubmit)="Feedback(subForm.value)" novalidate>
                          
                                <ion-row style="margin-left: 25px;">
                                    <ion-col col-8>
                                <ion-input type="text" #promocode="ngModel" id="promocode" placeholder="Enter Promo code here" 
                                  name="promocode" required ngModel></ion-input>
</ion-col>
                              <ion-col col-4>
                              <button ion-button  class="bgcolor" type="submit" style="background-color:black;color:#fff" [disabled]='weekendApply' >Apply</button>
</ion-col>
                              <div class="error" *ngIf="promocode?.errors && (promocode?.touched || promocode?.dirty)">
                               
                              </div>
                              </ion-row>
                           
                                 
                            </form>
                            </ion-row>
                            </ion-grid>
                            <ion-col>
                                    <button ion-button block round style="color:#fff;background-color: #108fd2" [disabled]="true">Subcribe</button>
                            </ion-col>
                   </ion-row> -->
                
                   <!-- <ion-row class="BtnRow">
                       <ion-col>
                           <h2>
                               <b style="margin-left: 11px;"> 54 Subjectwise Test</b>
                           </h2>
                           <br>
                           <h2>
                               <b style="margin-left: 5px;">54 Grand/Special Test</b>
                           </h2>
                       </ion-col>
                   </ion-row>
                   <ion-row>
                       <ion-col>
                           <button ion-button block style="margin-top:58px; height: 57px;background-color:#108fd2;" [disabled]='isRegistered' (click)="payment('pro','Yearly',false)">
                               <h2 style="color:#fff">{{registerLabel}}</h2> &nbsp;&nbsp;
                               <div *ngIf="registerLabel==Register">
                                   <h2 style="text-decoration: line-through; color:#fff">2500</h2>
                                   <h2 style="color:#fff;margin-top: 33px;
                     margin-left: -33px;
                     font-size: 20px;">1750</h2>
                               </div>
                           </button>
                       </ion-col>
                   </ion-row> -->
       
               </ion-card>
        
          
       
       
           <!-- <ion-grid>
           
            
            
               <ion-scroll scrollY="true" class="contentScroll" *ngIf="details2">
                       <div class="center" *ngIf="!examList">
                               
                                      
                                       <ion-spinner  ></ion-spinner>
                                      
                                     </div>
                       <div  *ngIf="!isRegistered">
                       <ion-card *ngFor="let items of examList; let i = index" style="min-height:50px;">
                          
                                     
                               <p [ngClass]="{'week': items.examType=='special' || items.examType == 'week'}">{{items.examName}} {{items.name}} <button ion-button style="float:right;" (click)="payment('single','Single exam', items)">payNow</button></p>
                               <p>{{items.createdDate|date}} </p>
                              
                         
                         </ion-card>
                       </div>
           
                       </ion-scroll>
           
           </ion-grid> -->
       
       
       
       
           <ion-card style="height: 69%; margin-left: 0px;
          " *ngIf="details4">
               <ion-scroll scrollY="true" class="contentScroll">
                   <div class="center" *ngIf="!examList">
       
       
                       <ion-spinner></ion-spinner>
       
                   </div>
                   <div *ngIf="!isRegistered">
                       <ion-card *ngFor="let items of examList; let i = index" style="background-color: beige">
       <ion-row>
       <ion-col col-8>
       <p [ngClass]="{'week': items.examType=='special' || items.examType == 'week'}" style="font-size: 15px;color: darkred;">{{items.examName}} {{items.name}}</p>
               <p style="font-size: 12px;">{{items.createdDate|date}} </p> 
   
   
       </ion-col>
       <ion-col col-4>
               <button ion-button style="float:right;background-color:#108fd2" class="blockData" (click)="payment('single',items.examName, items)">pay Now</button>
   
       </ion-col>
       </ion-row>
   
                       </ion-card>
                   </div>
               </ion-scroll>
           </ion-card>
       
     

          

           <ion-card style="height:424px;margin-left: 0px;"   *ngIf="aiimsDiv">
              
               <ion-row>
                   <ion-col col-12>
                       <p style="text-align: center;
                       font-size: 17px;
                       padding: 8px;
                       ">Prepare with nextfellow for AIIMS & JIPMER 2019</p>
                       <hr>
                   </ion-col>
                </ion-row>
            
                <ion-row>
                       
                       <ion-item style="padding-left: 30px;">
                            <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                            <span style="font-size: 15px;
                            font-weight: bold;">5 AIIMS mock tests</span>
                       </ion-item>
                       
                   
                       <ion-item style="padding-left: 30px;">
                            <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                            <span style="font-size: 15px;
                            font-weight: bold;">5 JIPMER mock tests</span>
                       </ion-item>

                       <ion-item style="padding-left: 30px;">
                        <ion-icon name="checkmark" style="color: green;"></ion-icon>&nbsp;
                        <span style="font-size: 15px;
                        font-weight: bold;">1 AIIMS&JIPMER Demo Exam</span>
                   </ion-item>
                


                        
                </ion-row>
        
                <ion-grid>
                    <ion-row>
                
                                   <!-- <ion-col col-12 style="text-align: center" >
            
                                        <button *ngIf="AiimsAmount"  ion-button style="color:#fff;background-color: #108fd2"  round>&#x20b9;{{AiimsAmount}}</button>
                                   </ion-col> -->
                                  </ion-row>
                                  </ion-grid>
          
               
                                  <ion-grid>
                                    <ion-row>
                                
                               <!-- <form  #subForm="ngForm" (ngSubmit)="CouponCode(subForm.value)" novalidate>
                                  
                                        <ion-row >
                                            <ion-col col-8>
                                        <ion-input type="text" #couponCode="ngModel"  placeholder="Enter Promo code here" 
                                          name="couponCode" required ngModel></ion-input>
        </ion-col>
                                      <ion-col col-4>
                                      <button ion-button  class="bgcolor" type="submit" style="background-color:black;color:#fff"   >Apply</button>
        </ion-col>
                                   
                                      </ion-row>
                                   
                                         
                                    </form> -->
                                    </ion-row>
                                    </ion-grid>
                                    <ion-col>
                                        <button ion-button block round style="background-color:#108fd2;color:white; " [disabled]="AiimsButton"  (click)="PROPOP()">Send enquiry</button>
    
                                    </ion-col>

           </ion-card>

   
       </ion-content>