page-weekendpage{
  .card-ios {
    margin: 8px;
    border-radius: 2px;
    width: calc(100% -  2px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.toolbar-title-ios {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color:white;
  pointer-events: auto;
}
  .blockData:hover{
    background-color: #108fd2 ;
    color:white;
 }
 .blocks1{
  background-color: #108fd2 ;
  color:white;
 }
 .BtnRow1{
  margin-top: 5px;
 }
 .BtnRow{
  text-align: center;
  margin-top: 38px;
 }
 ion-slide {
  width: 40%!important;
}
 .download{
  background-color: #108fd2;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 6px;
  font-size: 21px;
 }
 .contentScroll{
   height: 376px;
 }
 .nidhun{
  color:red;
 }
 .unselected{
  color: #108fd2 !important;
  background-color:white !important;
 }
 .selected{
  background-color: #108fd2 !important;
  color:#fff !important;
 }
 }