page-list{
    
    .Horizscroll{
    
        min-height: 143%;
    }
    
      .scroll {
        margin-left: auto;
        margin-right: auto;
        overflow-x: scroll;
        white-space: nowrap;
        text-align: center;
    }
    
    .head{
        font-size: 18px;
        margin-top: 14px;
        font-weight: bold;
    }
    .cardStyle{
        height: 85px;
        margin-top: -13px;
        font-size:15px!important;
        width: to-lower-case($string: "2")
    }
    .blockSub:hover{
        background-color: #108fd2 ;
        color:white;
     }
    .cardStyle1{
        height: auto;
        margin-top: 0px;
    }
    .unselected{
        color: #108fd2;
        background-color:white;
        padding: 36px 3px 36px 6px;
        font-size:15px!important;
    }
    
    
    .selected{
        background-color: #108fd2!important;
        font-size:15px!important;
        color: white!important;
            padding: 36px 3px 36px 6px;
    
    }
    
    .bx {
        color: #108fd2 !important;
        background-color:white!important;
        padding: 36px 2px 36px 3px;
    
    }
    .bx:hover {
        color:#ffff !important;
        background-color: #108fd2 !important;
        padding: 36px 2px 36px 3px;
        
    }
    .bx a:hover {
        color:#ffff !important;
       
        
    }
    .bgpic{
        background-image: url('../assets/img/new bg 5.png');
        //background-repeat: no-repeat;//
        background-position: center;
        background-size: contain;
        width: 100%;
      }
    
    .card-ios {
        margin:-15px;
        border-radius: 2px;
        width: calc(100% - -30px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      
      color:white;
      pointer-events: auto;
  }



    }

   