<style>


.card-md {
    margin:-15px !important;
    border-radius: 2px!important;
    width: calc(120% - 20px)!important;   
}


</style>

<ion-header>
    <ion-toolbar>
          <!-- <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <ion-title>Learn</ion-title>
          
        </ion-toolbar>
  </ion-header>
    
<ion-content padding class="bgpic">
  
        <div class="center" *ngIf="!subjectList">


                <ion-spinner  ></ion-spinner>
               
              </div>

            
<ion-grid>
<div *ngIf="subjectList" >
 <ion-row >
<ion-col col-12>  <p class="head" style="padding:0px!important; margin-bottom: 15px!important;  margin-top: 0px!important">Subjects</p></ion-col>
            
  <ion-card  class="cardStyle" style="color:black;"  >
       
       <ion-row  >
            <div class="scroll " style="padding: 34px 0px;
        background-color: #fff;" >
            <ion-col col-12   style="padding:0px;"    *ngFor="let subject of subjectList; let i=index;">
<a  data-id="{{i}}" (click)="ViewSections(subject.id,i)" [ngClass]="(selectSub==i)?'selected':'unselected'">
   {{subject.name}}

  </a>
  </ion-col>
  </div>
</ion-row>
              
    </ion-card>
   </ion-row>
   

    <div  *ngIf="showSections">
        <ion-row>
            <ion-col col-12 ><p class="head" style="padding:0px!important; margin-bottom: 15px!important;  margin-top: 23px!important">Section</p></ion-col>
                
    <ion-card style="padding: 0px;" class="cardStyle" >
            <ion-row>
                    <div class="scroll " style="padding: 34px 0px;
                background-color: #fff;" >
                    <ion-col col-12  style="padding:0px;"  *ngFor="let sec of section; let j = index;">
        <a   data-id="{{j}}" (click)="Viewchapters(sec.id,j)" [ngClass]="(selectCha==j)?'selected':'unselected'">
                {{sec.name}}
      
          </a>
          </ion-col>
          </div>
    </ion-row>
       
      
      </ion-card>
      </ion-row>
    </div>

      <div *ngIf="showChapter">
         <ion-row >
             
            <ion-col col-12><p class="head" style="padding:0px!important; margin-bottom:15px!important;  margin-top: 23px!important">Chapter</p> </ion-col>
            
      <ion-card  class="cardStyle">
          
              <ion-row>
                    <div class="scroll " style="padding: 34px 0px;
                background-color: #fff;" >
                    <ion-col col-12 style="padding: 0px;" *ngFor="let item of chapter; let j = index;">
        <a   (click)="goLearn(item.id,j)" [ngClass]="(selectchpater==j)?'selected':'unselected'">
                {{item.name}}
      
          </a>
          </ion-col>
          </div>
    </ion-row>
       
         
        </ion-card>
       </ion-row>
    </div>
</div>
</ion-grid>
<div id="focusItem"></div>



</ion-content>