
page-examroom{

    .card-ios {
        margin:5px !important;
        border-radius: 2px;
        width: calc(100% - 8px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    
.toast-container{
    background-color: #108fd2 !important;
 }
 .button-outline-md {
   
    border-color:#108fd2;
 }




}