


<ion-header>
        <ion-navbar>
          
            <ion-title style="text-align: center;" >
               Exam-rooms 
            </ion-title>
            
        </ion-navbar>
    </ion-header>
    
    <!-- <ion-tabs tabsPlacement="top">
        <ion-tab [root]="tab1Root" tabTitle="Complete" tabIcon="ios-calendar"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Pending" tabIcon="ios-calendar-outline"></ion-tab>
    </ion-tabs> -->
    
    <ion-content padding>
         
            <div class="row">
                    <div class="col"> <button id="myCheck" [disabled]="completed" ion-button class="bgcolor"  color="light" (click)="complete()" block style="background-color:#108fd2; ">Complete </button>
                    </div>
                    <div class="col"><button  [disabled]="pendingsDiv"  ion-button class="bgcolor" color="light" (click)="pendingExams()"block style="background-color:#108fd2; ">Pending</button>
                    </div>
                   
                  </div>
    
              
     
                  <!--complete-->
                 
                  <div *ngIf="completed">
                        <div class="center" *ngIf="!examList">
                        
                               
                                <ion-spinner  ></ion-spinner>
                               
                              </div>
                           
                        <ion-list *ngFor="let item of examList; let i = index">
                                <ion-list-header style="background-color:aliceblue;">
                                   <b> Exam Name:{{item.examName}} {{item.name}} </b>
                                </ion-list-header>
                                <ion-item-sliding >
            
                                       <ion-item style="background-color:beige!important;">
                                         
                                          Created Date:{{item.createdDate|date}}<br>
                                          Submitted Date:{{item.updatedDate|date}}
                                       </ion-item>
                                       
                                    
                                       <ion-item-options>
                                        <button ion-button color="primary" (click)="viewResult(item)" style="background-color:#108fd2;">View result</button>
                                
                                       </ion-item-options>
                                     </ion-item-sliding><br>
                                
                              </ion-list>
                  </div>
                    <!--endcomplete-->
                     <!--pending-->
                     <div *ngIf="pendingsDiv">
                            <div class="center" *ngIf="!examList">
                                    
                                   
                                    <ion-spinner  ></ion-spinner>
                                   
                                  </div>
                            <ion-list *ngFor="let item of examList; let i = index ">
                                    <ion-list-header style="background-color:aliceblue;">
                                      <b>  Exam Name:{{item.examName}}{{item.name}} </b>
                                    </ion-list-header>
                                    <ion-item-sliding>
                                        
                                           <ion-item style="background-color:beige!important;">
                                              
                                              Created Date:{{item.createdDate|date}}<br>
                                              <!-- <p *ngIf="item.dueFlag.formatted" >
                                      
                                      
                                                Due Date:{{item.dueObj.formatted|date}}
                                              </p> -->
                                           
                                           </ion-item>
                                       
                                           
                                        
                                           <ion-item-options>
                                            <button ion-button color="primary" (click)="resumeExam(item)"  style="background-color:#108fd2;">Write</button>
                                        
                                             <button ion-button color="danger" (click)="DeletePop(i,item)" style="background-color:#8b0404;">Delete</button>
                                             
                                            </ion-item-options>
                                         </ion-item-sliding><br>
                                    
                                  </ion-list>
                     </div>
              
                      <!--endpending-->
                       <!--vew result-->
                       
                       <!--endvew result-->
    </ion-content>