page-forgot{
    .error{
    color: red;
}
.toast-container{
    background-color:#108fd2 !important;
 }

 .bgcolor{
    
      background-color:#108fd2;
      color:#ffffff; 
    }
    .Footer{
        background-color: #f8f8f8;
        height: 26%;
          width: 100%;
          margin-left: 0%;
          margin-top: 129px;
          padding:11px;
      }
      .bgpic{
        background-image: url('../assets/img/new bg 5.png');
        //background-repeat: no-repeat;//
        background-position: center;
        background-size: contain;
        width: 100%;
      }
    }