
  <ion-content padding class="bgpic">
    
    <ion-grid>
      <ion-row responsive-sm>
        <ion-col>
          <div >
   
            <img src="assets/img/logo-2.png" alt="logo"style="width: 130px;text-align:center;"> 
          </div>
        </ion-col>
   
      </ion-row> 
     </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="welcome">
            <div text-center style="text-align: center;color: black;">
                We will send a link on your registered email to reset your password.
                
            </div>
            <div align="center" *ngIf="spinnerLoad">
    
              <ion-spinner></ion-spinner>
    
            </div>
          </ion-col>
    
        </ion-row>
      </ion-grid>
      <form #loginForm="ngForm" style="margin-top: 49px;" (ngSubmit)="Reset(loginForm.value)" novalidate>
      <ion-grid>
        
          <ion-row>
            <ion-col col-12 >
    
              <ion-list>
    
                
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input type="text"  #email="ngModel" id="email" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$" name="email" required ngModel>
                    <!-- <ion-input [(ngModel)]="username" name="username" type="text" #usernames="ngModel" spellcheck="false" autocapitalize="off"
                    required> -->
                  </ion-input>
                 
                </ion-item>
                <div class="error" *ngIf="email?.errors && (email?.touched || email?.dirty)">
                    <p class="error" [hidden]="!email.errors.required"> Please enter your email. </p>
                    <p class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </p>
                </div>
               
             
    
            
                
    
              </ion-list>
    
    
            </ion-col>
    
          </ion-row>
       
      </ion-grid>
     
      
    
    
      <div style="padding:5px;" >
    
        <ion-row responsive-sm>
          <ion-col>
            <button ion-button class="bgcolor" [navPush]="login" id="loginShow" type="submit" block>Cancel</button>
          </ion-col>
          <ion-col>
    
            <button type="submit" ion-button  class="bgcolor"  color="light" [disabled]="!loginForm.form.valid"  block>Reset</button>
          </ion-col>
        </ion-row>
    
      </div>
    </form>
    
   
    
    </ion-content>