<!-- <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Dashbord</ion-title>
    </ion-navbar>
  </ion-header> -->
  <ion-header #head>
     
  
      <ion-toolbar>
          <ion-navbar>
              <ion-buttons left>
         
      
              </ion-buttons>
            </ion-navbar>
        
  
  
      </ion-toolbar>
    </ion-header>

  <ion-content padding class="bgpic">
  
    <!-- <div class="center" *ngIf=" !bookmarkNote && !miniNoteTitle">
      <ion-spinner></ion-spinner>
    </div> -->
    <div *ngIf="!bookmarkNote && noteDiv">
    <ion-card style="margin-top: 0px;">
      <!-- <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let img of imgUrl; let i= index;">
        <img [src]='url + img' *ngIf="imgFlag"  style="border: none; width: 105%; padding-top: 40px;
        height: 123%;">
      </ion-col>
      </ion-row> -->
      <ion-card-content>
        <ion-card-title style="color:#108fd2">
          {{miniNoteTitle}}
        </ion-card-title>
        <p id ="demo"style="text-align: justify;
  line-height: 20px;" [innerHtml]="noteContent" class="scrollbar">
        </p>
      </ion-card-content>
  
    </ion-card>
  </div>
    <ion-grid  *ngIf="!bookmarkNote && noteDiv">
      <ion-row class="bottom_bar" class="footer">
          <ion-col col-2 style="padding-top: 0px;">
              <!-- <a (click)="prev()" *ngIf="!noPrev">Previous</a> -->
              <ion-icon name="ios-arrow-back" (click)="prev()" style="font-size: 34px;float: left;font-weight: bold;" *ngIf="!noPrev"></ion-icon>
            </ion-col>
        <!-- <ion-col col-2 style="padding-top: 0px;">
          <ion-icon name="md-share" (click)="shareData()" style="font-size: 34px;float: left;font-weight: bold;"></ion-icon>
        </ion-col> -->
        <ion-col col-4 style="padding: 7px;">
          <span> {{noteTags}}</span>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="bookmark" class="iconFooter" [ngClass]="(bookmarkicon)?'selected':'unselected'" (click)="bookmarked(noId)"></ion-icon>
        </ion-col>
        <ion-col col-2>
          <ion-toggle float-center checked="true" style="  display: block;
                  margin: auto;padding-top:4px; " [(ngModel)]="starredView" (ionChange)="logEvent($event)">
          </ion-toggle>
        </ion-col>
        <ion-col col-2 style="padding-top: 0px;">
          <!-- <a *ngIf="!noNext" (click)="next()">Next </a>
          <a *ngIf="noNext">Finish </a> -->
          <ion-icon name="ios-arrow-forward"style="font-size: 34px;float: right;font-weight: bold;" *ngIf="!noNext" (click)="next();saveRecentNote(noId,'save')"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  

<!---recent note-->


<!-- <div class="center" *ngIf=" !bookmarkNote && !recentMiniNoteTitle">
  <ion-spinner></ion-spinner>
</div> -->
<div *ngIf="!bookmarkNote && recentNoteDiv">
<ion-card style="margin-top: 0px;">
 
  <ion-card-content>
    <ion-card-title style="color:#108fd2">
      {{recentMiniNoteTitle}}
    </ion-card-title>
    <p id ="demo"style="text-align: justify;
line-height: 20px;" [innerHtml]="recentNoteContent" class="scrollbar">
    </p>
  </ion-card-content>

</ion-card>
</div>
<ion-grid  *ngIf="!bookmarkNote && recentNoteDiv">
  <ion-row class="bottom_bar" class="footer">
      <ion-col col-2 style="padding-top: 0px;">
          <ion-icon name="ios-arrow-back" (click)="prevRecent()" style="font-size: 34px;float: left;font-weight: bold;" *ngIf="!noPrev"></ion-icon>
        </ion-col>
   
    <ion-col col-8 style="padding: 7px;">
      <span> {{recentNoteTags}}</span>
    </ion-col>
    <!-- <ion-col col-2>
      <ion-icon name="bookmark" class="iconFooter" [ngClass]="(recentBookmarkicon)?'selected':'unselected'" (click)="bookmarked(recentNoteId)"></ion-icon>
    </ion-col> -->
    <!-- <ion-col col-2>
      <ion-toggle float-center checked="true" style="  display: block;
              margin: auto;padding-top:4px; " [(ngModel)]="starredView" (ionChange)="logEvent($event)">
      </ion-toggle>
    </ion-col> -->
    <ion-col col-2 style="padding-top: 0px;">
    
      <ion-icon name="ios-arrow-forward"style="font-size: 34px;float: right;font-weight: bold;" *ngIf="!noNext" (click)="nextRecent()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>











  
  
    <!-- <div class="center" *ngIf=" bookmarkNote && !ministarNoteTitle ">
        <ion-spinner></ion-spinner>
      </div> -->
      <div *ngIf="bookmarkNote && !noteDiv && showBar ">
      <ion-card style="margin-top: 0px;">
          <!-- <ion-row>
              <ion-col col-6 col-md-4 col-xl-3 *ngFor="let img of StarimgUrl; let i= index;">
                <img [src]='url + img' *ngIf="starimgFlag"  style="border: none; width: 105%; padding-top: 40px;
                height: 123%;">
              </ion-col>
              </ion-row> -->
        <ion-card-content>
          <ion-card-title style="color:#108fd2">
            {{ministarNoteTitle}}
          </ion-card-title>
          <p style="text-align: justify;
    line-height: 20px;" [innerHtml]="notestarContent" class="scrollbar">
          </p>
        </ion-card-content>
    
      </ion-card>
    </div>
      <ion-grid *ngIf="!noteDiv && showBar">
        <ion-row class="bottom_bar" class="footer">
          <ion-col col-2 style="padding-top: 0px;">
            <!-- <a (click)="prev()" *ngIf="!noPrevBtn">Previous</a> -->
            <ion-icon name="ios-arrow-back" (click)="prev()" style="font-size: 34px;float: left;font-weight: bold;"  *ngIf="!noPrevBtn"></ion-icon>

          </ion-col>
          <ion-col col-4 style="padding: 7px;">
            <span> {{notestarTags}}</span>
          </ion-col>
          <ion-col col-2>
            <ion-icon name="bookmark" class="iconFooter" [ngClass]="(bookmarkicon)?'selected':'unselected'" (click)="bookmarkedStar(nostarId)"></ion-icon>
          </ion-col>
          <ion-col col-2>
            <ion-toggle float-center checked="true" style="  display: block;
                    margin: auto;padding-top:4px; " [(ngModel)]="starredView" (ionChange)="logEvent($event)">
            </ion-toggle>
          </ion-col>
          <ion-col col-2 style="padding-top: 0px;">
            <!-- <a *ngIf="!noNextBtn" (click)="next()">Next </a>
            <a *ngIf="noNextBtn">Finish </a> -->
            <ion-icon name="ios-arrow-forward"style="font-size: 34px;float: right;font-weight: bold;" *ngIf="!noNextBtn"  (click)="next()"></ion-icon>

          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-content>