page-dailynotes{

	.segment-ios-primary .segment-button.segment-activated {
		color: #fff;
		background-color:#108fd2;
	}


	.card-ios {
        margin:-2px;
        border-radius: 2px;
        width: calc(100% - -5px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    
    .item-ios p {
    font-size: 18px;
    color: black;
    padding-top:7px;
	}






    .card-container {
        height: 151vw;
        width: 94vw;
    }
    .user_img {
        display: block;
        width: 102%;
        height: 34%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .iconFooter{
        font-size: 26px;
    //color: #108fd2;
    }
    .cardfooter{
        margin-top: 46px;
        border-top: 1px solid #ddd9d9;
    }
    .selected{
color:#108fd2;
    }
    .unselected{
        color:#333;
            }
            
    .bottom_bar
{
    
    bottom: 5vh;
    width: 100%;
}
.bgpic{
    background-image: url('../assets/img/new bg 5.png');
    //background-repeat: no-repeat;//
    background-position: center;
    background-size: contain;
    width: 100%;
  }
  .card-md {
    margin-left: -3px !important;
    border-radius: 2px!important;
    width: calc(100% - -5px)!important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cecece;
    color: black;
    text-align: center;
    height: 52px;
 }
 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: black;
}

// a:hover {
//     background-color: #ddd;
//     color: black;
// }

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}
table {

    border-collapse: collapse;
    width: 100%;
 
 }
 
 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
 }
 
 tr:nth-child(even) {
    background-color: #dddddd;
 }



.scrollbar
{
	margin-left: 30px;
	float: left;
	//height: 300px;
	width: 65px;
	//background: #FFFeee;
    overflow-X: scroll;
    overflow-Y: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height:auto;
}
.scrollbar{

  height:auto!important;
  width:100%;
  margin-left:0px; 
}
}