


page-home{
    
.center{
    padding-left: 50%;
    padding-right: 50%;
   
  }

 .crd{
    color: #108fd2;
   
    padding-left: 1px;
    padding-top: 25px;
 }
 
  .bxclr{
  
      text-align: center;
      color: #108fd2;
      font-weight: bolder;
      background-color: #fff;
      min-height:30vh;
      border-right: 5px solid #f8f8f8;
      border-bottom: 5px solid #f8f8f8;
      /* border-left: 1px solid #108fd2; */
      /* border-top: 1px solid #108fd2; */
      }
      
     
      
      .bxclr-2{
          font-weight: bolder;
          color: #108fd2;
          text-align: center;
        background-color:#fff;
        min-height:30vh;  
        border-bottom: 5px solid #f8f8f8;
      }
      
      .bxclr-3{
          font-weight: bolder;
          color: #108fd2;
          text-align: center;
        background-color:#fff;
        min-height:30vh;
         border-right: 5px solid #f8f8f8;
        }
        .bxclr-4{
          font-weight: bolder;
          color: #108fd2;
          text-align: center;
          background-color:#fff;
          min-height:30vh; 
          //border-right: 1px solid #9cb4e0;
          }
      
          @media only screen  and (max-device-width: 480px)  {

            


          } 
       
          .card-md {
            
       margin:0px

          }



          .hvr:hover{
            background-color: #94cce9;
            color: white !important;
            } 
            .hvr:active{
              background-color: #94cce9;
              color: white !important;
              }
    
              .swiper-container-horizontal  .swiper-pagination-bullets .swiper-pagination-bullet 
              {
               
                background-color:#108fd2!important;
              }



              .card-ios {
                margin:-6px;
                border-radius: 2px;
                width: calc(100% - -11px);
                font-size: 1.4rem;
                background: #fff;
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }
            .toolbar-title-ios {
              text-align: center;
              font-size: 1.7rem;
              font-weight: 600;
              color:white;
              pointer-events: auto;
          }
        
          


      }



      