<style>
    .card-md {
        margin-left: -9px !important;
        border-radius: 2px!important;
        width: calc(100% - -17px)!important;
    }


    .swiper-pagination-bullet .swiper-pagination-bullet-active {

        margin-top: 10px;

    }
</style>


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- <ion-header style="background-color: #108fd2; padding:7px;">


  
        <span style="color: #fff;font-size:22px;font-family: 'Roboto', sans-serif !important;font-weight:800; padding-left: 33px;    
            ">nextfellow</span>
</ion-header> -->
<ion-header >
        <ion-navbar  style="color:#108fd2;">
          <!-- <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <ion-title >nextfellow</ion-title>
        </ion-navbar>
      </ion-header>

<ion-content padding style="background-color: #efefef;">

    
    <!-- <button ion-button secondary menuToggle>  <ion-icon name="ios-apps" style="background-color:#108fd2"></ion-icon>
  </button> -->
    <ion-grid>
        <ion-card style="padding:15px; padding-bottom: 2px;" >

            <ion-slides pager>

                <ion-slide style="background-color:#ffff">
                    <ion-col col-12 *ngIf="GreenDivF">
                        <ion-col col-12 style="margin-bottom:10px;">
                            <b>{{greeting}},</b>&nbsp;{{username}}</ion-col>
                        <br>
                        

                        <ion-col col-12>
                                <ion-col col-12 *ngIf="liveDiv" >
                                        <a class="link"   (click)="golive()" style="color: #ef1111; font-size:15px;margin:9px!important;text-align: center;">
                                            <span>{{live}}</span>
                                        </a>
                                    </ion-col>
                            <p *ngIf="(examonly && studyonly) === true" style="font-size: 15px; margin-bottom: 10px; margin-top:0px;">Last time you studied
                                <span>
                                    <a (click)="gotoLearn()" style="color: #108fd2;">{{chapterName}}</a>
                                </span> in {{sectionName}} and took an exam on
                                <span>
                                    <a (click)="goLastExam(i)" style="color: #108fd2;">{{(dashInfo.exam.examName)?dashInfo.exam.examName:""}} </a>
                                </span>
                            </p>
                        </ion-col>
                    </ion-col>
                    <ion-col col-12 *ngIf="welcomeDiv" >
                        <p> Welcome to our nextfellow family</p>
                        <p style="font-size: 15px;" >
                            <span>Start with
                                <a (click)="firtChap()" style="color: #108fd2;">First Chapter</a>
                            </span>
                            <span>or Try
                                <a (click)="grantTest()" style="color: #108fd2;">Grand Exam</a>
                            </span>
                        </p>
                 
                    </ion-col>
                    <div id="focusItem"></div>
                    
                </ion-slide>

                <!-- <ion-slide style="background-color:#ffff;">
                    <ion-col col-12>
                        <a (click)="mockreg()" class="crd">
                            <b> Weekend Exam Registration </b>
                        </a>
                    </ion-col>
                    <ion-col col-12>
                        <p style="font-size: 15px; padding: 10px; margin-top: 3px;">Every friday a subject wise test (100 questions) and sunday a grand or special test (300 questions).</p>
                    </ion-col>
                </ion-slide> -->

            </ion-slides>
        </ion-card>
    </ion-grid>

    <ion-grid style="padding-left:0px;padding-right:0px;">
        <ion-row>

            <ion-col col-6 class="bxclr" (click)="gotoLeranPage()">
                    <!-- <ion-col col-6 class="bxclr" (click)="createUser(true)"> -->
                   
                <img src="assets/img/learn.png" style="padding-top: 33px;">

                <p>LEARN</p>
            </ion-col>
            <ion-col col-6 class=" bxclr-2" (click)="gotoExamPage()">

                <img src="assets/img/exam.png" style="padding-top: 33px;">
                <p>EXAM</p>
            </ion-col>

            <ion-col col-6 class=" bxclr-3" style="padding-top: 15px;" (click)="writeExam()">

                <img src="assets/img/notes.png" style="padding-top: 33px;">
                <p>NOTE</p>
            </ion-col>

            <ion-col   col-6 class=" bxclr-4" (click)="gotoEvaluatePage()">

                <img src="assets/img/evaluate.png" style="padding-top: 41px;">
                <p>EVALUATE</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>