<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>FAQ</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="bgpic">
    <ion-row>
    <ion-col col-12 class="accordion" >
      <ul>
        <li style="margin-top:10px;">
          <a href="#" class="acc-handle" tabindex="0" style="font-size:20px;background-color:#f0f0f0;">Dashboard</a>
          <div class="acc-panel">
<ion-list>
<ion-item  text-wrap *ngFor="let item of dashQstn;let i=index;" style="background-color:#fffeee;">
  <ion-row  style=" border-bottom: 1px solid  gray;">
      <ion-col col-2 style="font-size: 18px;" >
        <span>{{i+1}}.</span>
      </ion-col>
      <ion-col col-10 style="font-size: 18px;" >
        <span >{{item.quiestion}}</span>
      </ion-col>
    </ion-row>

    
        <ion-row>
            <ion-col col-2 style="font-size: 18px;" >
                Ans.
              </ion-col>
          <ion-col col-10 style="font-size: 18px;" >{{item.answer}}</ion-col>
        </ion-row>
     


</ion-item>
</ion-list>  
  </div>
        </li>
        <li >
          <a href="#" class="acc-handle" tabindex="0" style="font-size:20px;background-color:#f0f0f0;">Exam</a>
          <div class="acc-panel">
              <ion-list>
              <ion-item   text-wrap *ngFor="let item of examQstn;let i=index;"  style="background-color:#fffeee;">
                <ion-row style=" border-bottom: 1px solid  gray;" >
                    <ion-col col-2 style="font-size: 18px;" >
                      <span>{{i+1}}.</span>
                    </ion-col>
                    <ion-col col-10 style="font-size: 18px;" >
                      <span >{{item.quiestion}}</span>
                    </ion-col>
                  </ion-row>
              
                
               
                      <ion-row >
                          <ion-col col-2 style="font-size: 18px;" >
                              Ans.
                            </ion-col>
                        <ion-col col-10 style="font-size: 18px;" >{{item.answer}}</ion-col>
                      </ion-row>
                  
              
              
              </ion-item>
              </ion-list>  
                </div>
        </li>
        <li>
            <a href="#" class="acc-handle" tabindex="0"  style="font-size:20px;background-color:#f0f0f0;">Learn</a>
            <div class="acc-panel">
                <ion-list>
                <ion-item   text-wrap *ngFor="let item of learnQstn;let i=index;" style="background-color:#fffeee;">
                  <ion-row style=" border-bottom: 1px solid  gray;"   >
                      <ion-col col-2    >
                        <span style="font-size: 18px;">{{i+1}}.</span>
                      </ion-col>
                      <ion-col col-10 >
                        <span style="font-size: 18px;" >{{item.quiestion}}</span>
                      </ion-col>
                    </ion-row>
                
                  
                   
                        <ion-row  >
                            <ion-col col-2 style="font-size: 18px;"  >
                                Ans.
                              </ion-col>
                          <ion-col col-10 style="font-size: 18px;"  >{{item.answer}}</ion-col>
                        </ion-row>
                      
                
                
                </ion-item>
                </ion-list>  
                  </div>
          </li>
          <li>
              <a href="#" class="acc-handle" tabindex="0" style="font-size:20px;background-color:#f0f0f0;">Subscribe</a>
              <div class="acc-panel">
                  <ion-list>
                  <ion-item  text-wrap *ngFor="let item of regQstn;let i=index;"  style="background-color:#fffeee;" >
                    <ion-row  style=" border-bottom: 1px solid  gray;" >
                        <ion-col col-2 style="font-size: 18px;" >
                          <span>{{i+1}}.</span>
                        </ion-col>
                        <ion-col col-10 style="font-size: 18px;" >
                          <span >{{item.quiestion}}</span>
                        </ion-col>
                      </ion-row>
                  
                    
                     
                          <ion-row  >
                              <ion-col col-2 style="font-size: 18px;" >
                                  Ans.
                                </ion-col>
                            <ion-col col-10 style="font-size: 18px;"  >{{item.answer}}</ion-col>
                          </ion-row>
                      
                  
                  
                  </ion-item>
                  </ion-list>  
                    </div>
            </li>
        <li style="margin-bottom:10px;">
          <a href="#" class="acc-handle" tabindex="0"  style="font-size:20px;background-color:#f0f0f0; ">Note</a>
          <div class="acc-panel">
              <ion-list >
              <ion-item  text-wrap *ngFor="let item of noteQstn;let i=index;"  style="background-color:#fffeee;" >
                <ion-row  style=" border-bottom: 1px solid  gray;" >
                    <ion-col col-2 style="font-size: 18px;" >
                      <span>{{i+1}}.</span>
                    </ion-col>
                    <ion-col col-10 style="font-size: 18px;" >
                      <span >{{item.quiestion}}</span>
                    </ion-col>
                  </ion-row>
              
                
                  <ion-grid >
                      <ion-row  >
                          <ion-col col-2 style="font-size: 18px;" >
                              Ans.
                            </ion-col>
                        <ion-col col-10 style="font-size: 18px;" >{{item.answer}}</ion-col>
                      </ion-row>
                    </ion-grid>
              
              
              </ion-item>
              </ion-list>  
                </div>
        </li>
      
      </ul>
    </ion-col>
  </ion-row>
      </ion-content>