
<ion-header>
  <ion-toolbar>
        <!-- <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> -->
        <ion-title>Exam Room</ion-title>
        
      </ion-toolbar>
</ion-header>
<!-- <ion-header>
        <ion-navbar  style="color:#108fd2;">
            <button ion-button menuToggle >
              <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title >Exam Room</ion-title>
          </ion-navbar>
    
    </ion-header> -->
    
    <ion-content padding class="bgpic">
      <div class="center" *ngIf="!completedWeekExam">
        <ion-spinner></ion-spinner>
        
      </div>
      <ion-row *ngIf="customDiv">
          <ion-card style="height: 121px;" class="cdclr">
              <ion-card-header>
                <p style="font-size: 15px;
                font-style: italic;
                text-align: center;">If you want to write exam please create exam</p>

                </ion-card-header>
                <button class="strt-btn" ion-button outline (click)="createExam()" >Start</button>

          </ion-card>

        </ion-row>

      <div *ngIf="!customDiv">
      <ion-row>
        <ion-col col-8> <h6>{{username}}'s Exam</h6></ion-col>
<ion-col col-4>
  <a (click)="createExam()" style="float:right;font-size: 16px;color:#108fd2">Create Exam</a>
</ion-col>
      </ion-row>
       
    
      <ion-card class="cdclr"  *ngFor="let item of custmizedExam | slice:0:3;   let i = index" (click)="toggleGroup(item)" >
      <ion-card-header>
      <ion-col col-12>
            {{item.examName | slice:0:30}}
            <!-- <ion-icon class="clr"  name="ios-information-circle-outline" (click)="toggleGroup(item)" ></ion-icon>&nbsp;&nbsp; -->

        <ion-icon class="clr"   name="create"  *ngIf="item.pending " (click)="resumeExam(item)"></ion-icon>
        <ion-icon class="clr" *ngIf="item.completed "   name="eye" (click)="viewResult(item)" ></ion-icon>

      </ion-col>
      </ion-card-header>
      <div *ngIf="isGroupShown(item)">
        <p    style="padding-left: 20px;
        font-size: 14px;" >   {{item.examName}}</p>
     
        <p    style="padding-left: 20px;
        font-size: 14px;" >{{item.createdDate | date: "yyyy/MM/dd"}}</p>
        <p    style="padding-left: 20px;
        font-size: 14px;" >{{item.numberOfQuestions||item.noOfQuestions}} No of questions</p>
    </div>
      
    </ion-card>
   
    
     <ion-row>
          <ion-col col-12 style="text-align: right;" ><a style="color:#108fd2" (click)="getmoreCustomized()">More</a></ion-col>
        </ion-row>
</div>
      



        <ion-row>
          <ion-col col-8>
              <h6>Weekend exam</h6>
          </ion-col>
          <!-- <ion-col col-4><a (click)="subscribe('week')" style="float:right;font-size: 16px;color:#108fd2">Pro users</a></ion-col> -->

        </ion-row>
       
        <ion-list>
    
        
          <ion-card class="cdclr" *ngFor="let items of totalWeek | slice:0:3;  let i = index" (click)="toggleGroup(items)">
          
              <ion-card-header >
    
             
          <ion-col col-12 >
              <span> {{items.examName | slice:0:30}}</span> 

             <!-- <ion-icon class="clr"  name="ios-information-circle-outline" (click)="toggleGroup(items)" ></ion-icon>&nbsp;&nbsp; -->
    
            <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)" ></ion-icon>
             <ion-icon class="clr"  name="create"  *ngIf="items.examPending" (click)="resumeExam(items)"></ion-icon> 
             <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 
    
          </ion-col>
          </ion-card-header>
        
        <div *ngIf="isGroupShown(items) ">
          
          <p    style="padding-left: 20px;
          font-size: 14px;" >   {{items.examName}}</p>
           <p    style="padding-left: 20px;
           font-size: 14px;"  [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
           <p style="padding-left: 20px;
           font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
           <p    style="padding-left: 20px;
        font-size: 14px;"  *ngIf="items.numberOfQuestions  ">{{items.numberOfQuestions}} No of questions</p>

        <!-- <p    style="padding-left: 20px;
        font-size: 14px;"  *ngIf=" items.examType=='daily' && items.noOfQuestions ">{{items.noOfQuestions}} No of questions</p> -->
        </div>
       
      </ion-card>
        </ion-list>
            <ion-row>
              <ion-col col-12 style="text-align: right;"><a (click)="getmoreWeek()">More</a></ion-col>
            </ion-row>
        
       <!-- daily exams -->
       <div *ngIf="!dailyDiv">
       <ion-row >
        <ion-col col-8>
            <h6>Daily exam</h6>
        </ion-col>
        <!-- <ion-col col-4><a (click)="subscribe('daily')" style="float:right;font-size: 16px;color:#108fd2">Pro users</a></ion-col> -->

      </ion-row>
     
      <ion-list>
  
      
        <ion-card class="cdclr" *ngFor="let items of dailyExams | slice:0:3;  let i = index" (click)="toggleGroup(items)">
        
            <ion-card-header >
  
           
        <ion-col col-12 >
            <span > {{items.examName | slice:0:30}}</span> 

           <!-- <ion-icon class="clr"  name="ios-information-circle-outline" (click)="toggleGroup(items)" ></ion-icon>&nbsp;&nbsp; -->
  
          <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)" ></ion-icon>
           <ion-icon class="clr"  name="create"  *ngIf="items.examPending" (click)="resumeExam(items)"></ion-icon> 
           <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 
  
        </ion-col>
        </ion-card-header>
      
      <div *ngIf="isGroupShown(items) ">
        
        <p    style="padding-left: 20px;
        font-size: 14px;" >   {{items.examName}}</p>
         <p    style="padding-left: 20px;
         font-size: 14px;"  [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
         <p style="padding-left: 20px;
         font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
         <p    style="padding-left: 20px;
      font-size: 14px;"  *ngIf="items.numberOfQuestions  ">{{items.numberOfQuestions}} No of questions</p>

      <!-- <p    style="padding-left: 20px;
      font-size: 14px;"  *ngIf=" items.examType=='daily' && items.noOfQuestions ">{{items.noOfQuestions}} No of questions</p> -->
      </div>
     
    </ion-card>
      </ion-list>
          <ion-row>
            <ion-col col-12 style="text-align: right;"><a (click)="getDailyExams()">More</a></ion-col>
          </ion-row>
      </div>
    <!--AIMS?JIPMER-->
    <div>
      <ion-row >
       <ion-col col-8>
           <h6>AIIMS/JIPMER</h6>
       </ion-col>
       <!-- <ion-col col-4><a (click)="subscribe('aiims')" style="float:right;font-size: 16px;color:#108fd2">Pro users</a></ion-col> -->

     </ion-row>
    
     <ion-list>
  
      
      <ion-card class="cdclr" *ngFor="let items of totalAiims | slice:0:3;  let i = index" (click)="toggleGroup(items)">
      
          <ion-card-header >

         
      <ion-col col-12 >
          <span > {{items.examName | slice:0:30}}</span> 

         <!-- <ion-icon class="clr"  name="ios-information-circle-outline" (click)="toggleGroup(items)" ></ion-icon>&nbsp;&nbsp; -->

        <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)" ></ion-icon>
         <ion-icon class="clr"  name="create"  *ngIf="items.examPending" (click)="resumeExam(items)"></ion-icon> 
         <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="AIIMSPAYROUTE('single', items.examName, items)"></ion-icon> 

      </ion-col>
      </ion-card-header>
    
    <div *ngIf="isGroupShown(items) ">
      
      <p    style="padding-left: 20px;
      font-size: 14px;" >   {{items.examName}}</p>
       <p    style="padding-left: 20px;
       font-size: 14px;"  *ngIf="items.examinformation">{{items.examinformation}}</p>
       <p style="padding-left: 20px;
       font-size: 14px;">{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
       <p    style="padding-left: 20px;
    font-size: 14px;"  *ngIf="items.numberOfQuestions  ">{{items.numberOfQuestions}} No of questions</p>

        </div>
   
  </ion-card>
    </ion-list>
       
         <ion-row>
           <ion-col col-12 style="text-align: right;"><a (click)="getMoreAiims()">More</a></ion-col>
         </ion-row>
     </div>
   
    </ion-content>