page-examComponent{
    .list-ios{
       margin:unset; 
    }

    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color:white;
        pointer-events: auto;
    }
    .card-ios {
        margin:5px !important;
        border-radius: 2px;
        width: calc(100% - 8px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .card-md {
        margin-left: -3px !important;
        border-radius: 2px!important;
        width: calc(100% - -5px)!important;
    }
    .hd{
      font-size:25px;

    }
    .clr{
        color: #108fd2;
        float: right;
        font-size:30px!important;
        
    }
    .cdclr{
background-color:#f0f0f0;
font-size: 15px;
    }
    a{
        color:#108fd2 !important;
    }
    .bgpic{
		background-image: url('../assets/img/new bg 5.png');
		//background-repeat: no-repeat;//
		background-position: center;
		background-size: contain;
		width: 100%;
      }
      .strt-btn{
        color:#108fd2;text-align:center;display:block; margin:auto;
        padding-left: 74px;padding-right:74px;
      }
}