page-teachers{

  

    .card-ios {
        margin:-6px;
        border-radius: 2px;
        width: calc(100% - -11px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }  
    .bgpic{
        background-image: url('../assets/img/new bg 5.png');
        //background-repeat: no-repeat;//
        background-position: center;
        background-size: contain;
        width: 100%;
      }

      .card-md {
        margin-left: -3px !important;
        border-radius: 2px!important;
        width: calc(100% - -5px)!important;
    }
    .algn{
        text-align: center;
    }
    .algnc{
        text-align: center;
        color:#108fd2;
    }
    .algn-q{
        text-align: center;
        font-size:18px;
        color:black;font-style:unset;
        font-style:italic; 
        padding:3px;
    }
    .cdcolr{
        background-color: #f0f0f0;
    }
    .imgb{
        width:100px;  border-radius: 50%;
        height:100px; display: block; margin: auto;
    }
    .six {
        border-style: double;
        border-width: thick;
        border-color: white
        
    }
}