<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Teachers</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content padding class="bgpic">
           
<!-- <ion-list>
        <ion-item *ngFor="let item of teachersData;let i=index;">
          <ion-avatar item-start>
            <img class="img-responsive"  [src]='url + item.imageId'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <h3>{{item.role}}</h3>
          <h3>{{item.qualification}}</h3>
          <p>{{item.message}}</p>
        </ion-item>
        
      </ion-list>  
      
      -->
      <ion-list>
        <ion-card class="cdcolr"  *ngFor="let item of teachersData;let i=index; style">
          <ion-row>
            <ion-col col-12 class="six" >
          <ion-col col-12 class="imgb">
            <img  class="img-responsive" style=" width:95px;  border-radius: 50%;
            height:100px; display: block; margin: auto; margin-top:4px; 
        " alt="Avatar"  [src]='url + item.imageId'>
          </ion-col>
          <ion-col col-12 style="margin-top: 4px;">
            <h2 class="algn"><b>{{item.name}}</b></h2>
            <h3 class="algnc"><b>{{item.role}}</b></h3>
            <h3 class="algn">{{item.qualification}}</h3>
          </ion-col>
          <p class="algn-q" ><i class="fas fa-quote-left"></i>"{{item.message}}"</p>
        </ion-col>
        </ion-row>
        </ion-card>

      </ion-list>
          </ion-content>