<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content parallax-header no-bounce class="bg-modal" *ngFor="let item of testArry">
    <div class="header-image"><img src="assets/img/background/background-2.jpg"></div>
    <div class="main-content" text-wrap text-center *ngIf="profileDiv">
        <div class="circular"> <img src="assets/img/logo.png"></div>
        <h2 >{{UserName}}</h2>
        <div align="center">
           
            <ion-spinner  *ngIf="spinnerLoad"></ion-spinner>
           
          </div>
        <!-- <p>{{user.occupation}} &bull; {{user.location}}</p>
        <p class="profile-description">{{user.description}}</p> -->
        <hr>
        <ion-list no-lines >
            <ion-item *ngIf="item.username">
                <ion-icon name="mail" color="primary" item-start style="color:#108fd2;"></ion-icon>
                <p>Email</p>
                {{ item.username }}
                <!-- <a button ion-button href="mailto:{{user.email}}" color="primary" item-end medium>Open App</a> -->
            </ion-item>
            <ion-item *ngIf="item.profile.phone">
                <ion-icon item-start name="call" color="danger"></ion-icon>
                <p>Mobile</p>
                {{item.profile.phone}}
                
            </ion-item>
            <!-- <ion-item>
                <ion-icon item-start name="logo-whatsapp" color="secondary"></ion-icon>
                <p>Whatsapp</p>
                {{user.whatsapp}}
                <a button ion-button color="secondary" item-end medium href="whatsapp://send?text=Hi from ionic&phone=+{{user.phone}}&abid=+{{user.phone}}">Open App</a>
            </ion-item> -->
            <ion-item *ngIf="item.profile.city">
                <ion-icon item-start name="pin" color="twitter"></ion-icon>
                <p>{{item.profile.city}}</p>
            </ion-item>
        </ion-list>
     
        <hr>
        <button ion-button block color="linkedin" icon-start (click)="edit()" style="background-color:#108fd2;">
            <ion-icon name='md-create'   ></ion-icon>
            Edit
        </button>
    
      
    </div>
    <div class="main-content" text-wrap text-center *ngIf="Editdiv">
        <div class="circular"> <img src="assets/img/logo.png"></div>
        <form class="form-horizontal" role="form" #profileForm="ngForm" (ngSubmit)="profileSubmit(profileForm)" novalidate>
        <ion-list >
                <ion-item>
                        <ion-label>Name</ion-label>
                        <ion-input type="text"  class="form-control" [(ngModel)]="item.profile.firstName" name="fname" type="text" #fname="ngModel"  required></ion-input>
                    
          
          
                      </ion-item>
                    <ion-item >
                            <ion-label>e-mail</ion-label>
                            <ion-input type="text"  class="form-control" [(ngModel)]="item.username" name="email" type="text" #emails="ngModel" disabled>
                          </ion-input>
              
              
                          </ion-item>
                          <ion-item>
                                <ion-label>Phone-no</ion-label>
                                <ion-input type="text" class="form-control" id="phone"
                                
                                [(ngModel)]="item.profile.phone" name="phone"
                                pattern="[0-9]*"
                                minlength="10"
                                maxlength="10" 
                                #mobiles="ngModel">
                               </ion-input>
                  
                  
                              </ion-item>
                              <ion-item>
                                    <ion-label>City</ion-label>
                                    <ion-input type="text"  class="form-control" [(ngModel)]="item.profile.city" name="city"  #city="ngModel">
                                  </ion-input>
                      
                      
                                  </ion-item>
                                  <ion-item>
                                        <ion-label>Country</ion-label>
                                        <ion-input type="text"  class="form-control" [(ngModel)]="item.profile.country" name="country"  #country="ngModel">
                                       </ion-input>
                          
                          
                                      </ion-item>
        </ion-list>

       
      
     
  
        <button ion-button block color="linkedin" icon-start  [disabled]="!profileForm.form.valid" style="background-color:#108fd2;">
            <ion-icon name='md-create'></ion-icon>
            Update
        </button>
        </form>
    
      
    </div>

</ion-content>