<!--
  Generated template for the NestedTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>LearnoverView</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
    <ion-card >
      <!-- <canvas #doughnutCanvas></canvas> -->
    </ion-card>
    <ion-card class="cardStyle" style="height: 112px;">
      <ion-scroll scrollX="true" style="width:100vw;height:350px;" style="text-align: center;margin-top:0px;">

          <ion-col class="scroll-item " *ngFor="let subject of subjectList; let i=index;">
              <ion-row>
                  <ion-col col-12>
                      
                    <canvas id="{{subject.graph}}" ></canvas>
                   
                  </ion-col>
                  <!-- <ion-col col-12>
                    <span>{{subject.name}} </span>
                  </ion-col> -->
              </ion-row>
          </ion-col>
      </ion-scroll>

  </ion-card>

</ion-content>
