.scroll {
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}
.head{
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
}

ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
      width: auto;
    }
}
.pad-sb{
    padding-top:17px!important; 
    color: black;
}

.toast-container{
    background-color: #108fd2 !important;
 }
    
 .center{
    padding-left: 50%;
    padding-right: 50%;
   
  }