<ion-header>
    <ion-navbar>
        <ion-title>Create Exam</ion-title>

    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #loginForm="ngForm" (ngSubmit)="writeGrandExamNow(loginForm.value)" novalidate>
        <ion-list>

            <ion-item>
                <ion-label>Exam name</ion-label>
                <ion-input type="text" [(ngModel)]="shortName" name="names" type="text" #names="ngModel" required></ion-input>

                <!-- <ion-input type="text" #names="ngModel" id="name" name="names" required ngModel> -->
                <!-- <ion-input [(ngModel)]="username" name="username" type="text" #usernames="ngModel" spellcheck="false" autocapitalize="off"
        required> -->
                <!-- </ion-input> -->

            </ion-item>
            <div class="error" *ngIf="names?.errors && (names?.touched || names?.dirty)">
                <p class="error" [hidden]="!names.errors.required"> Please enter exam name </p>

            </div>
            <ion-item>
                <ion-label>No of questions</ion-label>
                <ion-select #questions="ngModel" name="nofoq" required ngModel (ngModelChange)="startCheck($event,questions)">
                    <ion-option *ngFor="let key of quenos" value="{{key}}">{{key}}</ion-option>
                </ion-select>
            </ion-item>
            <div class="error" *ngIf="questions?.errors && (questions?.touched || questions?.dirty)">
                <p class="error" [hidden]="!questions.errors.required"> Please enter the no of questions </p>

            </div>
            <ion-row *ngIf="starttimer">

                <ion-col width-50>
                    <ion-item>
                        <ion-label>Hours</ion-label>
                        <ion-input type="number" min="0" step="1" max="3" name="hour" #hours="ngModel" [(ngModel)]="hourss">
                        </ion-input>



                    </ion-item>

                </ion-col>
                <ion-col width-50>
                    <ion-item>
                        <ion-label>minute</ion-label>
                        <ion-input type="number" min="0" step="1" max="59" name="minute" #minute="ngModel" [(ngModel)]="defMint" ngModel value="00">
                        </ion-input>

                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label>Start Timer</ion-label>
                 
                <ion-checkbox [(ngModel)]="starttimer" name="strtbox"></ion-checkbox>
                </ion-item>
            <ion-item>
                <ion-label>Write later</ion-label>

                <ion-checkbox [(ngModel)]="writelater" name="box"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="writelater">
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" #date="ngModel" name="date" ngModel></ion-datetime>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>

            <ion-col>
                <button type="submit" ion-button color="light" block *ngIf="!writelater" [disabled]="!loginForm.form.valid" style="background-color:#108fd2;color:white;">Write now</button>
                <button type="submit" ion-button color="light" block *ngIf="writelater" [disabled]="!loginForm.form.valid" style="background-color:#108fd2; color:white;">Finish</button>
            </ion-col>
        </ion-row>



    </form>
    <ion-row responsive-sm>
        <ion-col>
            <button ion-button id="loginShow" type="submit" block style="background-color:#108fd2;" (click)="CancelClick()">Cancel</button>
        </ion-col>
    </ion-row>
    <div>










    </div>

</ion-content>