<!--<ion-header >
    
        <ion-navbar color="color3">
          <ion-title>Report this question</ion-title>
          <ion-buttons end>
            <button ion-button icon-only>
            <ion-icon name='bulb'></ion-icon>
          </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>-->
      <ion-content padding >
          <ion-navbar >
              <ion-title style="text-align: center;">Report this question</ion-title>
             
            </ion-navbar>
      <ion-grid>
<ion-row>
  <ion-list>
    <ion-item>
     <textarea placeholder="Report Question" [(ngModel)]="report"  id="text" name="text" rows="4" ngModel required ></textarea> 

    </ion-item>
    
    </ion-list>

    
     
    </ion-row>
    <ion-row responsive-sm style="    margin-top: 39%;">
        <ion-col>
          <button ion-button (click)="dismiss()" id="loginShow" type="submit" block  style="background-color:#108fd2;">Cancel</button>
        </ion-col>
        <ion-col>
  
          <button type="submit" ion-button color="light"  block (click)="submitRepo(report)" [disabled]="!report" style="background-color:#108fd2; color: white;">Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
        
      
      </ion-content>
   <!--   <ion-footer>
            <ion-row responsive-sm>
                    <ion-col>
                      <button ion-button (click)="dismiss()" id="loginShow" type="submit" block  style="background-color:#108fd2;">Cancel</button>
                    </ion-col>
                    <ion-col>
              
                      <button type="submit" ion-button color="light"  block (click)="submitRepo(report)" [disabled]="!report" style="background-color:#108fd2; color: white;">Submit</button>
                    </ion-col>
                  </ion-row>

      </ion-footer>-->
      
      