.scroll {
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}
.subject {
    
    margin-right: 50px ;
    margin-bottom: 20px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.pad-sb{
    padding-top:17px!important; 
    color: black;
}
.toast-container{
    background-color: #108fd2 !important;
 }