
<ion-header>

  <ion-navbar>
    <ion-title>Exam view</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="col-md-12" style="text-align: center;color: #0099cc;margin-bottom: 30px;">
        <h2>Exams</h2>
    </div>
      <div class="scroll" style="padding:35px; background-color:#f0f0f0;border:2px,solid;  border-radius: 5px;">
    
        <a class="btn btn-info subject" *ngFor="let item of examList; let i = index" data-id="{{i}}" (click)="evaluateExam(item.noOfQuestions,item.examResult.noOfCorrectQue,item.examResult.noOfWrongQue,item.examResult.noOfQueAttended,item)" style= "background-color:#108fd2;color:#ffffff;padding:15px; font-size:18px;">
            {{item.examName}} &nbsp;
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
    
        </a>
    </div>
    <!-- <div class="col-sm-12">
        
        <div class="col-md-12" style="text-align: center;color: #0099cc;margin-bottom: 30px;">
            <h2>Exams</h2>
        </div>
<div class="bodr-1" style="margin-bottom: 25px;">
<div class="scroll">
      <a class="btn btn-info subject" *ngFor="let item of examList; let i = index" (click)="evaluateExam(item.noOfQuestions,item.examResult.noOfCorrectQue,item.examResult.noOfWrongQue,item.examResult.noOfQueAttended,item)">
              {{item.examName}}
          </a>
  </div>
</div>
</div><br><br> -->
<ion-card  [hidden]="!ExamLoad">
  <ion-card-header >
  Exams
  </ion-card-header>
  <ion-card-content>
    <canvas #doughnutCanvas></canvas>
  </ion-card-content>
  <ion-item *ngIf="examWrong">
    <ion-icon name="ios-close" item-start></ion-icon>
    Wrong
    <ion-badge item-end color="danger">{{examWrong}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="examCorr">
    <ion-icon name="ios-checkmark" item-start></ion-icon>
    Correct
    <ion-badge item-end color="secondary">{{examCorr}}</ion-badge>
  </ion-item>

</ion-card>


  
</ion-content>
