<ion-list *ngIf="customized && !week && !daily ">
    <ion-list-header>Exams</ion-list-header>
    <button ion-item (click)="allExam('all')">All</button>
    <button ion-item (click)="allExam('pending')">Pending</button>
    <button ion-item (click)="allExam('completed')">Completed</button>
  </ion-list>
  <ion-list *ngIf="week && !customized  || daily">
    <ion-list-header>Exams</ion-list-header>
    <button ion-item (click)="allWeekExam('all')">All</button>
    <button ion-item (click)="allWeekExam('pending')">Pending</button>
    <button ion-item (click)="allWeekExam('completed')">Completed</button>
    <button ion-item (click)="allWeekExam('demo')">Demo</button>

  </ion-list>