

page-createExam{

    .card-ios {
        margin:-15px;
        border-radius: 2px;
        width: calc(100% - -30px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      
      color:white;
      pointer-events: auto;
  }



    .myBox {
        border: none;
        padding: 5px;
        font-size: 15px;
        line-height: 40px;
        width:100%;
        height:auto;
        overflow: scroll;
        
        }
        .tags {
            background-color: #fff;
            padding: 5px 10px;
            color: black;
            margin-left: 5px;
            margin-top: 3px;
            margin-right: 5px;
            border-radius: 15px;
            display: inline-flex;
         }
.blkData{
    padding-left: 7px;
}
//  .blkData:hover{
//     background-color: #108fd2;
//     color:white;
//     padding-left: 7px;
//  }
 .scroll {
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
   
    white-space: nowrap;
    text-align: center;
}
.deleteButton{
    font-size: 14px;
    float: right;
    margin: 5px;
    background-color: #c14545;
}
.head{
    font-size:18px;
   
    font-weight: bold;
    padding:0px!important;
     margin-bottom:20px!important;
       margin-top: 0px!important;
}
.cardStyle{
    height: auto;
    /* margin-top: 0px; 
    width: 341px;
    margin-left: 0px;*/
}
.bxcolumn {
    color: #108fd2;
    background-color:white;
    //padding: 36px 2px 36px 3px;
    font-size: 15px;
}
.unselected{
    color: #108fd2;
    background-color:white;
    // padding: 36px 2px 36px 3px;
    font-size:15px!important;
}
.plus{
    font-size: 19px;
    /* float: right; */
    margin-top: 0px;
    border-radius: 17px;
    /* top: 10px; */
    background-color: #108fd2;
    color: #fff;
    width: 25px;
    height: 25px;
    padding: 3px 6px 6px 6px;
        }
// .bx:hover {
//     color:#ffff !important;
//     background-color: #108fd2 !important;
//     padding: 36px 2px 36px 3px;
    
// }

.selected{
    background-color: #9cd3ef !important;
    color:#fff !important;
    font-size:19px!important;    
}
.selected a{
    color:#fff !important;
}
.iconSize{
font-size: 25px;
font-weight: bold;
}
// .card-md p{
   
//     color:black;
//     padding-left: 1px;
//     padding-right: 1px;
// }

// .card-md p:active{
//     color: white  !important;
// }
// .card-md p:hover{
//     color: white  !important;
// }

.card-md {
    margin: -15px !important;
    border-radius: 2px !important;
    width: calc(115% - 20px) !important;
}

a {
    color: #108fd2 !important;
}
ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
      width: auto;
    }
}

.bgpic{
    background-image: url('../assets/img/new bg 5.png');
    //background-repeat: no-repeat;//
    background-position: center;
    background-size: contain;
    width: 100%;
  }


}
