

<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Create exam</ion-title>
    </ion-navbar>
</ion-header> -->

<style>
    .card-md {
        margin: -15px !important;
        border-radius: 2px !important;
        width: calc(115% - 20px) !important;
    }

    a {
        color: #108fd2 !important;
    }

</style>

<ion-header>
    <ion-toolbar>

        <ion-icon name="md-arrow-back" style="font-size: 21px;
                margin-left: 8px;
                color: #fff;" (click)="backToeaxam()"></ion-icon>
        &nbsp;&nbsp;
        <span style="font-size: 20px;
             margin-left: 4px;
             color: #fff;">Create exam </span>

    </ion-toolbar>
</ion-header>
<ion-content padding class="bgpic">

    <p class="head">Subjects</p>



    <!-- <ion-card class="cardStyle" style="height: 86px;" >
                  
                        <div class="scroll " style="
                        background-color: #fff;">
                        <ion-grid>
                        <ion-row>
                                <ion-col col-4  class="bxcolumn"   *ngFor="let subject of subjectList; let i=index;" [ngClass]="(selectSub==i)?'selected':'unselected'" (click)="ViewSections(i)"   data-id="{{i}}" >
                              
                                    <ion-col>   
                    {{subject.name}} 
              
   </ion-col>
   <ion-col>
                                    <span   (click)="selectSubject(i);dltSubjct(i);"><ion-icon  name="md-add"  class="iconSize" ></ion-icon></span>
                            
    
                            </ion-col>
                           
                            </ion-col>
                            </ion-row>
                            </ion-grid>
                        </div>
                   
                    </ion-card> -->
    <ion-card class="cardStyle" style="height: 86px;">
        <ion-scroll scrollX="true"  style="text-align: center;margin-top:0px;">

            <ion-col class="scroll-item " *ngFor="let subject of subjectList; let i=index;" [ngClass]="(selectSub==i)?'selected':'unselected'"
                (click)="ViewSections(i)" data-id="{{i}}">
                <ion-row>
                    <ion-col col-12>
                        <span>{{subject.name}} </span>

                    </ion-col>
                    <ion-col col-12>
                        <span (click)="selectSubject(i);dltSubjct(i);">
                            <ion-icon name="md-add" class="iconSize"></ion-icon>
                        </span>

                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-scroll>

    </ion-card>








    <div *ngIf=" section && showSection">

        <p style=" font-size: 18px;
       
                font-weight: bold;padding:0px!important; margin-bottom:20px!important;  margin-top:27px!important">Section</p>
        <ion-card class="cardStyle" style="height: 86px;">
            <ion-scroll scrollX="true"  style="text-align: center;margin-top:0px;">
                <ion-col class="scroll-item " *ngFor="let sec of section; let j = index;" [ngClass]="(selectSec==j || greyClr)?'selected':'unselected'"
                    (click)="Viewchapters(j)" data-id="{{j}}">

                    <ion-row>
                        <ion-col col-12>
                            <span>{{sec.name}}</span>

                        </ion-col>
                        <ion-col col-12>

                            <span style="padding-top: 5px;" (click)="selectSection(j);dltSection(j)">
                                <ion-icon name="md-add" class="iconSize"></ion-icon>
                            </span>

                        </ion-col>
                    </ion-row>


                </ion-col>
            </ion-scroll>

        </ion-card>




        <!-- <ion-card class="cardStyle" >
                  
                    <ion-row  >
                        <div class="scroll " style="padding: 36px 3px;
                        background-color: #fff;">
                            <ion-col col-12 col-sm class="bxcolumn" *ngFor="let sec of section; let j = index;" [ngClass]="(selectSec==j || greyClr)?'selected':'unselected'" >
                                <ion-col  (click)="Viewchapters(j)" >
                                    <span  data-id="{{j}}"  >
                    {{sec.name}}
              
                                    </span>
    
                                    <span  (click)="selectSection(j);dltSection(j)"><ion-icon name="md-add"  class="iconSize" ></ion-icon></span>
                                </ion-col>
    
                            </ion-col>
                        </div>
                    </ion-row>
                </ion-card>
         -->
    </div>

    <div *ngIf="chapter && showChapter">

        <p style="font-size: 18px;
       
                font-weight: bold;padding:0px!important; margin-bottom: 20px!important;  margin-top:27px!important">Chapter</p>
        <ion-card class="cardStyle" style="height: 86px;">
            <ion-scroll scrollX="true" style="text-align: center;margin-top:0px;">

                <ion-col class="scroll-item " [ngClass]="(selectChap==j || greyClr || greyClr1)?'selected':'unselected'" *ngFor="let item of chapter; let j = index;"
                    (click)="Viewchapters(j)" data-id="{{j}}">
                    <ion-row>
                        <ion-col col-12>
                            <span>{{item.name}}</span>

                        </ion-col>
                        <ion-col col-12>
                            <span style="padding-top: 5px;" (click)="selectChapter(j);dltChapter(j)">
                                <ion-icon name="md-add" class="iconSize"></ion-icon>
                            </span>
                        </ion-col>


                    </ion-row>
                </ion-col>
            </ion-scroll>

        </ion-card>






        <!-- <ion-card class="cardStyle" >
                    
                    <ion-row>
                        <div class="scroll " style="padding: 36px 3px;
                            background-color: #fff;">
                            <ion-col col-12 col-sm class="bxcolumn"   [ngClass]="(selectChap==j || greyClr || greyClr1)?'selected':'unselected'" *ngFor="let item of chapter; let j = index;">
                                <ion-col>
                                    <span >
                        {{item.name}}
                  
                                    </span>
                                    <span  (click)="selectChapter(j);dltChapter(j)"><ion-icon name="md-add"   class="iconSize"></ion-icon></span>
                                </ion-col>
    
                            </ion-col>
                        </div>
                    </ion-row>
                </ion-card> -->
    </div>
    <ion-grid>
        <ion-row style="padding-top:20px;">
            <div class="myBox">


                <span class="tags" *ngFor="let item of cart ;let j = index;"> {{item.name}}
                    <ion-icon name="close" (click)="removeFromCart(j)" style="font-weight: bold;"></ion-icon>
                </span>
            </div>
            <!-- <ion-card *ngFor="let item of cart" style="height: auto;margin-left:-10px;margin-right: -10px; width: 800px;">
                    <ion-row>
                        <ion-col col-8>
                            <p style="font-size: 15px;
                                        padding: 8px;" >{{item.name}}</p>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button (click)="removeFromCart(i)" class="deleteButton"><ion-icon name="ios-trash" ></ion-icon></button>
    
                        </ion-col>
                    </ion-row>
    
    
    
    
    
    
                </ion-card> -->
        </ion-row>
    </ion-grid>
    <ion-grid id="focusItemtwo" >
        <ion-row>

            <ion-col >
                <button  ion-button block (click)="grandExam()" style="color: #fff;background-color:#108fd2;">One click grandtest</button>


            </ion-col>
            <ion-col>
                <button ion-button block (click)="createExam()" [disabled]='!cart.length' style="color: #fff;background-color:#108fd2;">Create Exam</button>

            </ion-col>

        </ion-row>
    </ion-grid>






</ion-content>