

<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Exam Room</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgpic" >
  <ion-segment [(ngModel)]="examTypes" color="primary" (ionChange)="segmentChanged($event)" >
      
      <ion-segment-button  value="customized" >
     {{username}}'s Exam
      </ion-segment-button>
      <ion-segment-button  value="week" >
        Weekend Exam 
      </ion-segment-button>
      <ion-segment-button value="daily" >
         Daily Eaxm
        </ion-segment-button>
        <ion-segment-button value="aiims" >
         AIIMS/JIPMER
         </ion-segment-button>
    </ion-segment>
   
    <ion-row>
      <ion-col col-12  *ngIf="customized && !week && !daily && !aiims" >
     <p  style=" font-size: 20px;
         text-align: center;color: black;"> Be independant , <br>
      Now create exam you want </p>
    </ion-col>
    <ion-col col-12   *ngIf="!customized && week && !daily && !aiims" >
      <p style=" font-size: 20px;
      text-align: center;color: black;"> Subjectwise exam , <br>
     By 'nextfellow' faculty </p>
     </ion-col>
     <ion-col col-12   *ngIf="!customized && !week && daily && !aiims" >
      <p style=" font-size: 20px;
      text-align: center;color: black;"> Daily exam , <br>
     On high yielding topics </p>
     </ion-col>
     <ion-col col-12   *ngIf="!customized && !week && !daily && aiims" >
      <p style=" font-size: 20px;
      text-align: center;color: black;"> Handpicked by authors of Target AIIMS and Target JIPMER
      
   </p>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="strt-btn ">
        <button class="strt-btn" ion-button outline (click)="writeExam()" *ngIf="customized && !week  && !daily && !aiims" >Start</button>
      </ion-col>
      <!-- <ion-col col-12 class="strt-btn " *ngIf="!customized && week && !daily && !aiims">
        <button class="reg-btn" ion-button outline (click)="register('week')">Pro users</button>
      </ion-col>
      <ion-col col-12 class="strt-btn " *ngIf="!customized && !week && daily && !aiims">
          <button class="reg-btn" ion-button outline (click)="register('daily')">Pro users</button>
        </ion-col>
        <ion-col col-12 class="strt-btn " *ngIf="!customized && !week && !daily && aiims">
            <button class="reg-btn" ion-button outline (click)="register('aiims')">Pro users</button>
          </ion-col> -->
    </ion-row>
    <div *ngIf="customized && !week && !daily">
        <div class="center" *ngIf="!custmizedExam">
            <ion-spinner></ion-spinner>
            
          </div>
    <ion-row>
      <ion-col col-7>
          <p style="font-size: 16px; text-align: left;"> {{username}}'s Exam</p>
      </ion-col>
      <ion-col col-5>
          <!-- <ion-select [(ngModel)]="selectedExam" (ionChange)="optionsFn($event);">
              <ion-option value="all" style="font-size: 16px;" selected>All</ion-option>
              <ion-option value="pending"  style="font-size: 16px;" >Pending Exams</ion-option>
              <ion-option value="completed" style="font-size: 16px;">Completed Exams</ion-option>
          </ion-select> -->
         
         <ion-row>
           <ion-col col-10 style="padding: 10px;">
          <span style=" font-size: 17px;">{{type}}</span>
          </ion-col>
          <ion-col col-2>
          <ion-icon name="more" (click)="presentPopover('customized')" style="color:#108fd2;
          font-size: 26px;
          font-weight: bold;"></ion-icon>
</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
   
    <ion-card class="cdclr"  *ngFor="let item of custmizedExam    let i = index" (click)="toggleGroup(item)">
        <ion-card-header>
        <ion-col col-12>
              {{item.examName | slice:0:30}}
              
              <ion-icon class="clr"   name="create"  *ngIf="item.pending " (click)="resumeExam(item)"></ion-icon>
              <ion-icon class="clr" *ngIf="item.completed "   name="eye" (click)="viewResult(item)"></ion-icon>    
        </ion-col>
        </ion-card-header>
        <div *ngIf="isGroupShown(item)">
            
          <p    style="padding-left: 20px;
      font-size: 14px;" >   {{item.examName}}</p>
          <p    style="padding-left: 20px;
          font-size: 14px;" >{{item.createdDate | date: "yyyy/MM/dd"}}</p>
          <p    style="padding-left: 20px;
          font-size: 14px;" >{{item.numberOfQuestions||item.noOfQuestions}} No of questions</p>
      </div>
      </ion-card>
     </div> 
     
     <div *ngIf="week && !customized ">
        <div class="center" *ngIf="!completedWeekExam">
            <ion-spinner></ion-spinner>
            
          </div>
        <ion-row>
          <ion-col col-7>
              <p style="font-size: 16px;float:left">Weekend Exam</p>
  
          </ion-col>
          <ion-col col-5>
             
            
          <ion-row>
              <ion-col col-10 style="padding: 10px;">
             <span style=" font-size: 17px;">{{type}}</span>
             </ion-col>
             <ion-col col-2>
             <ion-icon name="more" (click)="presentPopover('week')" style="color:#108fd2;
             font-size: 26px;
             font-weight: bold;"></ion-icon>
 </ion-col>
           </ion-row>

             
          </ion-col>
        </ion-row>
      
        <div *ngIf="!demoExam" >
        <ion-card class="cdclr"  *ngFor="let items of totalWeek    let i = index" (click)="toggleGroup(items)">
            <ion-card-header>
            <ion-col col-12>
                  <span *ngIf="items.examType!='daily'"> {{items.examName | slice:0:30}}</span> 

                  <span *ngIf="items.examType=='daily'" style="color:#108fd2"> {{items.examName | slice:0:30}}</span> 
           
                  <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                  <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                  <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 

            </ion-col>
            </ion-card-header>
            <div *ngIf="isGroupShown(items) && items.examType!='daily'">
    
              <p    style="padding-left: 20px;
              font-size: 14px;" >   {{items.examName}}</p>
              <p  style="padding-left: 20px;
              font-size: 14px;" [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
              <p style="padding-left: 20px;
         font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
         <p    style="padding-left: 20px;
      font-size: 14px;" *ngIf="items.numberOfQuestions " >{{items.numberOfQuestions}} No of questions</p>
            </div>
          </ion-card>
          </div>

         
          <div class="center" *ngIf="!demoExams">
            <ion-spinner></ion-spinner>
            
          </div>
          <div *ngIf="demoExam" >
            <ion-card class="cdclr"  *ngFor="let items of demoExams    let i = index" (click)="toggleGroup(items)">
                <ion-card-header>
                <ion-col col-12>
                      {{items.examName | slice:0:30}}
  
                      <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                      <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                      <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 
    
                </ion-col>
                </ion-card-header>
                <div *ngIf="isGroupShown(items)">
                  <p    style="padding-left: 20px;
                  font-size: 14px;" >   {{items.examName}}</p>
         
                  <p [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
                  <p style="padding-left: 20px;
                  font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
                  <p    style="padding-left: 20px;
               font-size: 14px;"  *ngIf="  items.numberOfQuestions  ">{{items.numberOfQuestions }} No of questions</p>
               
             
              
              </div>
              </ion-card>
              </div>
         </div> 





         <div *ngIf="!week && !customized && daily ">
          <div class="center" *ngIf="!completedWeekExam">
              <ion-spinner></ion-spinner>
              
            </div>
          <ion-row>
            <ion-col col-7>
                <p style="font-size: 16px;float:left">Daily Exam</p>
    
            </ion-col>
            <ion-col col-5>
               
              
            <ion-row>
                <ion-col col-10 style="padding: 10px;">
               <span style=" font-size: 17px;">{{type}}</span>
               </ion-col>
               <ion-col col-2>
               <ion-icon name="more" (click)="presentPopover('daily')" style="color:#108fd2;
               font-size: 26px;
               font-weight: bold;"></ion-icon>
   </ion-col>
             </ion-row>

               
            </ion-col>
          </ion-row>
        
          <div *ngIf="!demoExam" >
          <ion-card class="cdclr"  *ngFor="let items of dailyExams    let i = index" (click)="toggleGroup(items)">
              <ion-card-header>
              <ion-col col-12>
                    <span > {{items.examName | slice:0:30}}</span> 

             
                    <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                    <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                    <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 
  
              </ion-col>
              </ion-card-header>
              <div *ngIf="isGroupShown(items)" >
      
                <p    style="padding-left: 20px;
                font-size: 14px;" >   {{items.examName}}</p>
                <p  style="padding-left: 20px;
                font-size: 14px;" [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
                <p style="padding-left: 20px;
           font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
           <p    style="padding-left: 20px;
        font-size: 14px;" *ngIf="items.numberOfQuestions " >{{items.numberOfQuestions}} No of questions</p>
              </div>
            </ion-card>
            </div>

           
            <div class="center" *ngIf="!demoExams">
              <ion-spinner></ion-spinner>
              
            </div>
            <div *ngIf="demoExam" >
              <ion-card class="cdclr"  *ngFor="let items of demoExams    let i = index" (click)="toggleGroup(items)">
                  <ion-card-header>
                  <ion-col col-12>
                        {{items.examName | slice:0:30}}
    
                        <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                        <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                        <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="newExamfunction('single', items.examName, items)"></ion-icon> 
      
                  </ion-col>
                  </ion-card-header>
                  <div *ngIf="isGroupShown(items)">
                    <p    style="padding-left: 20px;
                    font-size: 14px;" >   {{items.examName}}</p>
           
                    <p [innerHtml]="items.examinformation" *ngIf="items.examinformation"></p>
                    <p style="padding-left: 20px;
                    font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
                    <p    style="padding-left: 20px;
                 font-size: 14px;" *ngIf="items.numberOfQuestions" >{{items.numberOfQuestions}} No of questions</p>
                  </div>
                </ion-card>
                </div>
           </div> 
    <div *ngIf="!customized && !week && !daily && aiims">
            
      <ion-row>
        <ion-col col-7>
            <p style="font-size: 16px;float:left">AIIMS/JIPMER</p>

        </ion-col>
        <ion-col col-5>
           
          
        <ion-row>
            <ion-col col-10 style="padding: 10px;">
           <span style=" font-size: 17px;">{{type}}</span>
           </ion-col>
           <ion-col col-2>
           <ion-icon name="more" (click)="presentPopover('aiims')" style="color:#108fd2;
           font-size: 26px;
           font-weight: bold;"></ion-icon>
</ion-col>
         </ion-row>

           
        </ion-col>
      </ion-row>
    
      <div *ngIf="!aiimsdemoExam " >
      <ion-card class="cdclr"  *ngFor="let items of totalAiims    let i = index" (click)="toggleGroup(items)">
          <ion-card-header>
          <ion-col col-12>
                <span > {{items.examName | slice:0:30}}</span> 

         
                <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="AIIMSPAYROUTE('single', items.examName, items)"></ion-icon> 

          </ion-col>
          </ion-card-header>
          <div *ngIf="isGroupShown(items)">
  
            <p    style="padding-left: 20px;
            font-size: 14px;" >   {{items.examName}}</p>
            <p  style="padding-left: 20px;
            font-size: 14px;"  *ngIf="items.examinformation">{{items.examinformation}}</p>
            <p style="padding-left: 20px;
       font-size: 14px;"*ngIf="items.examDate || items.examDetails.examDate"  >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
       <p    style="padding-left: 20px;
    font-size: 14px;" *ngIf="items.numberOfQuestions " >{{items.numberOfQuestions}} No of questions</p>
          </div>
        </ion-card>
        </div>

       
       
        <div *ngIf="aiimsdemoExam" >
          <ion-card class="cdclr"  *ngFor="let items of demoExams    let i = index" (click)="toggleGroup(items)">
              <ion-card-header>
              <ion-col col-12>
                    {{items.examName | slice:0:30}}

                    <ion-icon class="clr"   name="create"  *ngIf="items.examPending " (click)="resumeExam(items)"></ion-icon>
                    <ion-icon class="clr" *ngIf="items.examCompleted "   name="eye" (click)="viewResult(items)"></ion-icon>  
                    <ion-icon class="clr"  name="lock"  *ngIf="items.inactiveExam" (click)="AIIMSPAYROUTE()"></ion-icon> 
  
              </ion-col>
              </ion-card-header>
              <div *ngIf="isGroupShown(items)">
                <p    style="padding-left: 20px;
                font-size: 14px;" >   {{items.examName}}</p>
       
                <p  *ngIf="items.examinformation">{{items.examinformation}}</p>
                <p style="padding-left: 20px;
                font-size: 14px;" >{{items.examDate || items.examDetails.examDate | date: "yyyy/MM/dd"}}</p>
                <p    style="padding-left: 20px;
             font-size: 14px;"  *ngIf="  items.numberOfQuestions  ">{{items.numberOfQuestions }} No of questions</p>
             
           
            
            </div>
            </ion-card>
         
       
         </div> 
         </div>
         
</ion-content>