page-exam{


  .card-ios {
    margin:5px !important;
    border-radius: 2px;
    width: calc(100% - 8px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.toolbar-title-ios {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color:white;
  pointer-events: auto;
}


  .card-md {
    margin-left: -3px !important;
    border-radius: 2px!important;
    width: calc(100% - -5px)!important;
}
  .cdclr{
    background-color:#f0f0f0;
    
        }
        ion-select {
         
          display: flex;
          overflow: hidden;
          max-width: 67% !important;
      }
    //   .select-md {
    //     padding: 17px 8px 13px 16px !important;
    // }
    #sidenav1 {
      ion-item-group[submenu] {
        overflow: hidden;
        display: block;
        height: 0;
        transition: height .3s linear;
        &.visible {
            height: inherit;
            // this is just sample value, calculate how much space you need for your menu items
        }
      }
     }
    .clr{
      color: #108fd2;
      float: right;
  }
//   p:nth-child(1) {
//     font-size: 20px;
//     text-align: center;
// }
.strt-btn{
  color:#108fd2;text-align:center;display:block; margin:auto;
  padding-left: 74px;padding-right:74px;
}
.reg-btn{
  color:#108fd2;text-align:center;display:block; margin:auto;
  padding-left: 58px;
    padding-right: 58px;
}


.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
  border-color:#108fd2;
  color: #108fd2;
  opacity: 1;
}
.segment-md-primary .segment-button {
  color:#108fd2;
}


.bgpic{
  background-image: url('../assets/img/new bg 5.png');
  //background-repeat: no-repeat;//
  background-position: center;
  background-size: contain;
  width: 100%;
}

 }