
<style>

.label-md{
 font-size:0 px!important;
    }
</style>

<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title  class="size-n"><span style="font-size: 25px;">nextfellow</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >

      <ion-grid style="background-color:#f8f8f8;">
        <ion-col col-12  ><img  src="assets/img/image.png" style="width: 45%;margin-left: 29%;"/></ion-col>
       
        <ion-row>
            <ion-col col-12  style="text-align: center;font-size:20px;"><b >{{str3}}</b> </ion-col>
          </ion-row>
      </ion-grid>

    <ion-list >
      <button class="menu-icn" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" style="color:#108fd2"></ion-icon> &nbsp; {{p.title}}
      </button>
      
    

    

    </ion-list>
  </ion-content>


</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>