// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
 
}

.size-n{

  text-align: center;
}

.menu-icn{

  font-size:20px;
}
.toolbar-background-md{
  border-color: #b2b2b2;
  background: #108fd2;
}
.toolbar-title-md {
  
  color:white;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color:white;
  background-color: transparent;
}
ion-item:hover {
  background-color:#fff !important;
  border-color: #fff !important;
}

.toolbar-ios ion-title {
  
  background:#108fd2;
  color: white;
}
.toolbar-background-ios {
  background: #108fd2;
  color: white;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: white;
 
}
.segment-ios-primary .segment-button.segment-activated {
  color: #fff;
  background-color:#108fd2;
}

.button-ios[_ngcontent-c2] {
  font-size: 1.2rem !important;
}
.card-header-ios {
  font-size: 1.8rem;
  
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color:#108fd2;
}
.button-ios[_ngcontent-c5] {
  font-size: 1.2rem !important;
}