page-termsrules{
    .button-ios { 
        font-size: 1.2rem !important;
    }
    .card-ios {
        margin:-6px;
        border-radius: 2px;
        width: calc(100% - -11px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    
    .item-ios p {
    font-size: 18px;
    color: black;
    padding-top:7px;
    }

    .label-md{

        margin-top: 0px;
        margin-bottom: 0px;
        
        margin-right: 0px;
        }
  .marked {
   background-color: #ffff00!important;
  }
  .selected {
   background-color: #a8d3ec!important;
  }
  
  .bgpic{
    background-image: url('../assets/img/new bg 5.png');
    //background-repeat: no-repeat;//
    background-position: center;
    background-size: contain;
    width: 100%;
  }
  .answer {
   padding-top: 15px;
   padding-bottom: 15px;
  }
  .playBtn{
   font-size: 26px !important;
   margin-top: 1px !important;
   background-color:#cecece !important;
  }
  .circleStyle {
   display: inline-block;
   border-radius: 50%;
   min-width: 14px;
   min-height: 29px;
   padding:7px 2px 0px 2px;
           background: #f8f8f8;
   color: black;
   text-align: center;
   line-height: 1;
   box-sizing: content-box;
   white-space: nowrap;
   
  }
  .circle:before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   padding-top: 100%;
   height: 0;
  }
  .circle {
   display: inline-block;
   border-radius: 50%;
   min-width: 20px;
   min-height: 20px;
   padding: 5px;
   background: #fff;
   color: black;
   text-align: center;
   line-height: 1;
   box-sizing: content-box;
   white-space: nowrap;
   
  }
  .circle1 {
   display: inline-block;
   border-radius: 50%;
   min-width: 20px;
   min-height: 20px;
   padding: 5px;
   background: #c3e0f2;
   color: black;
   text-align: center;
   line-height: 1;
   box-sizing: content-box;
   white-space: nowrap;
   
  }
  .circle2 {
   display: inline-block;
   border-radius: 50%;
   min-width: 20px;
   min-height: 20px;
   padding: 5px;
   background: #ffff4d;
   color: black;
   text-align: center;
   line-height: 1;
   box-sizing: content-box;
   white-space: nowrap;
   
  }
  .questionHead {
         
   padding: 0px 0px 0px 0px;
   //background-color: #fff;
  }
  .optionStyle {
  
   border-bottom: 1px solid #e2e1e1;
  
   //background-color: #fff;
  }
  .item-md {
   padding-left:0px;
  
  }
  
  .fntsze
     {
       font-size: 25px;
       
       line-height: 19px!important;
     }
  
     .item-md p{
  
       color:black!important;
       font-size:18px;
       padding-bottom:15px;
       padding-top:15px;
  
   }
   .item-divider-md {
       padding-left:0px;
       border-bottom: 1px solid #dedede;
       font-size: 1.4rem;
       color:black !important;
   }
  
   page-write .playBtn {
       
     
       width: 18px !important;
       font-size: 16px;
   }
   .label-md{
  
       font-size: 16px!important;
   }
  }