<ion-header>
        <ion-navbar>
          <!-- <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <ion-title>Evaluate</ion-title>
        </ion-navbar>
      </ion-header>

      <ion-content padding >

        <img src="assets/img/evaluateImg.png" alt="evaluate" style="border: none; width: 100%;height: 104%;" >
        <!-- <ion-tabs tabsPlacement="top">
          <ion-tab [root]="tab1Root" tabTitle="LearnOverView" tabIcon="ios-book"></ion-tab>
          <ion-tab [root]="tab2Root" tabTitle="Evaluate" tabIcon="ios-calendar-outline"></ion-tab>
          <ion-tab [root]="tab3Root" tabTitle="ExamOverView" tabIcon="md-git-network"></ion-tab>
          
      </ion-tabs> -->
      </ion-content>