

page-eval{

    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color:white;
        pointer-events: auto;
      }

    img {
        max-width: 100%;
        max-height: 100%;
    }

}
