<!-- <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Dashbord</ion-title>
    </ion-navbar>
  </ion-header> -->

  <ion-content padding >

 <ion-tabs tabsPlacement="bottom" [ngClass]="{'hidden': hideTabs}" [selectedIndex]="selectedTabIndex" (ionChange)="tabChanged($event)" >
      <ion-tab  [tab-hidden]="" [root]="tab1Root"  tabTitle="Home" tabIcon="ios-home"></ion-tab>
      <ion-tab  [tab-hidden]="navBarHide" [root]="tab2Root" tabTitle="Learn" tabIcon="ios-book"></ion-tab>
      <ion-tab [tab-hidden]="navBarHide" [root]="tab3Root" tabTitle="Exam" tabIcon="ios-create"></ion-tab>
      <ion-tab  [tab-hidden]="navBarHide" [root]="tab4Root" tabTitle="Note" tabIcon="bookmarks"></ion-tab>
      <ion-tab [tab-hidden]="navBarHide" [root]="tab5Root" tabTitle="More" tabIcon="menu"></ion-tab>

  </ion-tabs>
  </ion-content>ß