page-homeNew{
    .tabs-md .tab-button[aria-selected=true] {
        color: #108fd2;
        padding: 0;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color:#108fd2;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    ion-tabs.hidden div.tabbar {
        display: none
    }

}