<head>

  <style>
    .scroll-content {
      padding: 4px !important;
      margin-top: 62px;
    }
  </style>
</head>
<html>

<body>
  <ion-header #head>
     
  
    <ion-toolbar>
        <ion-navbar>
            <ion-buttons left>
                <ion-row *ngIf="questionData">
         
  
                    <ion-col style="padding:8px!important;" class="" *ngFor="let item of questionData.question.subjectArray; let i =  index;"
                      (click)="goBackto()">
                      <p class="headSec">{{item.name | slice:0:20}}...</p>
                    </ion-col>
                  </ion-row>
    
            </ion-buttons>
          </ion-navbar>
      


    </ion-toolbar>
  </ion-header>
  <ion-content padding hideheader [header]="head" class="bxpdg" #contentRef (ionScroll)="scrollingFun($event)" style="margin-top:10px;">
    <div class="center" *ngIf="!questionData">
      <ion-spinner></ion-spinner>
      `
    </div>


    <div *ngIf="questionData && !listview && !starredView && !listStarView && !quickStarredView">
      <div>

        <div *ngIf="!quickview">
          <ion-item-divider text-wrap class="questionHead" style="padding:0px;">
            <ion-grid class="question-wrap" style="background-color:#FFFEEE;">
              <ion-row style="border-bottom-style: solid;
              border-bottom-width: 1px; border-bottom-color: #f0f0f0;margin-top:8px; padding-bottom:13px">

                <ion-col col-2 class="fntsze" style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:18px; padding-left: 0px;">
                  <span [innerHtml]="qsNumber"></span>.
                </ion-col>

                <ion-col col-10 class="fntsze" style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                  <p style="font-size: 18px;" class="question" [innerHtml]="questionName"> </p>

                </ion-col>

              </ion-row>

            </ion-grid>
          </ion-item-divider>

          <div class="answer-wrap pdd" style="padding:0px!important;border-bottom:none!important;">
            <div *ngFor="let item of options ;let i= index;">

              <ion-item class="pdd" style="padding-left:0px!important; min-height: 0.0rem !important;" text-wrap (click)="selectedOption(item.id)"
                disabled="answered">

                <ion-grid class="pdd" style="background-color:#FFFEEE; padding: 0px!important;">
                  <ion-row class="pdd" class="fntsze" style=" margin:0!important;" [ngClass]="{'correct': item.id === answerForClass, 'wrong': item.id !== answerForClass && clickedItem === item.id }">
                    <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;; padding-bottom:13px; padding-top: 13px;">{{item.id}}.</ion-col>
                    <ion-col col-10 class="fntsze" style="padding-left:5px!important;margin-left: 0px;line-height:22px;padding-bottom:13px; padding-top: 13px; line-height:26px;">
                      <span>{{item.text}}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </div>

          <div>
            <ion-grid style="padding-left: 0px;">
              <ion-row style="padding-left: 0px;">
                <ion-col style="font-size: 14px;">
                  <a (click)="ReportQue()">Report this question</a>
                </ion-col>
              </ion-row>
            </ion-grid>
            <button float-left ion-button color="primary" icon-left (click)="previous(qsNumber)" [disabled]="qsNumber<=1"
              style="background-color: #108fd2; margin-top: 7px; margin-bottom: 7px;">
              <ion-icon name='arrow-back'></ion-icon>
              Previous
            </button>

            <button float-right ion-button color="primary" icon-right (click)="!(qsNumber==totalNumber) && next(qsNumber);(qsNumber==totalNumber) && finishLearn()"
              style="background-color: #108fd2;  margin-top: 7px; margin-bottom: 7px; ">
              {{(qsNumber==totalNumber)?'Finish':'Next'}}
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </div>

          <ion-grid *ngIf="clickedItem !== null">

            <!-- <ion-scroll scrollY="true" class="Vscroll"> -->
            <ion-row style="background-color:#FFFEEE;">
              <ion-col col-12>
                <div  class="scrollbar" [innerHtml]="questionData.question.description" style="line-height:27px!important; font-size:18px!important; font-weight:unset;"></div>
              </ion-col>
            </ion-row>
            <!-- </ion-scroll> -->

          </ion-grid>
        </div>
        <div *ngIf="quickview">
          <div class="center" *ngIf="!questionquickData">
            <ion-spinner></ion-spinner>
            
          </div>
          <ion-item-divider text-wrap class="questionHead" style="padding:0px;">
            <ion-grid class="question-wrap" style="background-color:#FFFEEE;">
              <ion-row>

                <ion-col col-2 class="fntsze" style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:18px; padding-left: 0px;">
                  <span [innerHtml]="qstnNumber"></span>.
                </ion-col>

                <ion-col col-10 class="fntsze" style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                  <p style="font-size: 18px;" class="question" [innerHtml]="questionquickName"> </p>

                </ion-col>

              </ion-row>

            </ion-grid>
            <div class="col-sm-12 bdr" *ngIf="imageFlag">

              <br>
              <img class="img-responsive" style="width: 400px;height: 400" [src]="imgUrl">
              <br>
            </div>
          </ion-item-divider>

          <div class="answer-wrap pdd" style="padding:0px!important;border-bottom:none!important;">
            <div *ngFor="let item of options ;let i= index;">

              <ion-item class="pdd" style="padding-left:0px!important; min-height: 0.0rem !important;  " text-wrap disabled="answered">

                <ion-grid class="pdd" style="background-color:#FFFEEE; padding: 0px!important;">
                  <ion-row class="pdd" class="fntsze" style=" margin:0!important;" [ngClass]="{'correct': item.id === corectQuickAnswer}">
                    <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;; padding-bottom:13px; padding-top: 13px;">{{item.id}}.</ion-col>
                    <ion-col col-10 class="fntsze" style="padding-left:5px!important;margin-left: 0px;line-height:22px;padding-bottom:13px; padding-top: 13px;line-height:26px;">
                      <span>{{item.text}}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            </div>
          </div>

          <div>
            <ion-grid style="padding-left: 0px;">
              <ion-row style="padding-left: 0px;">
                <ion-col style="font-size: 14px;">
                  <a (click)="ReportQue()">Report this question</a>
                </ion-col>
              </ion-row>
            </ion-grid>
            <button float-left ion-button color="primary" icon-left (click)="previous(qstnNumber)" [disabled]="qstnNumber<=1"
              style="background-color: #108fd2; margin-top: 7px; margin-bottom: 7px;">
              <ion-icon name='arrow-back'></ion-icon>
              Previous
            </button>

            <button float-right ion-button color="primary" icon-right (click)="!(qstnNumber==totalNumber) && next(qstnNumber);(qstnNumber==totalNumber) && finishLearn()"
              style="background-color: #108fd2;  margin-top: 7px; margin-bottom: 7px; ">
              {{(qstnNumber==totalNumber)?'Finish':'Next'}}
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </div>
          <ion-grid>

            <!-- <ion-scroll scrollY="true" class="Vscroll"> -->
            <ion-row style="background-color:#FFFEEE;">
              <ion-col col-12>
                <div class="scrollbar" [innerHtml]="questionquickData.question.description" style="line-height:27px!important; font-size:18px!important; font-weight:unset;"></div>
              </ion-col>
            </ion-row>
            <!-- </ion-scroll> -->

          </ion-grid>
        </div>

      </div>
    </div>
    <div *ngIf="starredView && !listStarView && !quickStarredView ">
      <div *ngIf="!noData">
        <div class="center" *ngIf="!questionStarData && !noData">
          <ion-spinner></ion-spinner>
        </div>
        <ion-item-divider text-wrap class="questionHead" style="padding:0px;">
          <ion-grid class="question-wrap" style="background-color:#FFFEEE;">
            <ion-row>

              <ion-col col-2 class="fntsze" style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:18px; padding-left: 0px;">
                <span> {{Qnumber}}.</span>
              </ion-col>

              <ion-col col-10 class="fntsze" style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                <p style="font-size: 18px;" class="question" [innerHtml]="questions "> </p>
              </ion-col>

            </ion-row>

          </ion-grid>
          <div class="col-sm-12 bdr" *ngIf="imageFlag">

            <br>
            <img class="img-responsive" style="width: 400px;height: 400" [src]='url + imgUrl'>
            <br>
          </div>
        </ion-item-divider>

        <div class="answer-wrap pdd" style="padding:0px!important;border-bottom:none!important;">
          <div *ngFor="let option of options ;let i= index;">

            <ion-item class="pdd" style="padding-left:0px!important; min-height: 0.0rem !important;  " text-wrap disabled="answered">

              <ion-grid class="pdd" style="background-color:#FFFEEE; padding: 0px!important;">
                <ion-row class="pdd" class="fntsze" style=" margin:0!important;" [ngClass]="{'correct':answers===option.id,'wrong':userAnswer===option.id}">
                  <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;; padding-bottom:13px; padding-top: 13px;">{{option.id}}.</ion-col>
                  <ion-col col-10 class="fntsze" style="padding-left:5px!important;margin-left: 0px;line-height:22px;padding-bottom:13px; padding-top: 13px;line-height:26px;">
                    <span>{{option.text}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

          </div>
        </div>
        <ion-grid style="padding-left: 0px;">
          <ion-row style="padding-left: 0px;">
            <ion-col style="font-size: 14px;">
              <a (click)="ReportQue()">Report this question</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col col-4>
            <button float-center ion-button color="#108fd2" style="background-color:#108fd2;" icon-left (click)="previousButtonClick()"
              [disabled]=noPrevQuestion>Previous</button>
          </ion-col>
          <ion-col col-4>
          </ion-col>
          <ion-col col-4>
            <button float-center ion-button style="background-color:#108fd2;color:white; padding: 0px 30px 0px 30px;" (click)="nextButtonClick()"
              [disabled]=noQuestion>Next</button>

          </ion-col>
        </ion-row>
        <div *ngIf="description">
          <p style="font-weight:bold;font-size:18px!important;">Description</p>
          <p [innerHtml]="description" class="scrollbar" style="line-height:27px!important; font-size:18px!important; font-weight:unset;"></p>
        </div>
      </div>
    </div>
    <div *ngIf="starredView && !listStarView && quickStarredView ">
      <div *ngIf="!noData">
        <div class="center" *ngIf="!questionStarData && !noData">
          <ion-spinner></ion-spinner>
        </div>
        <ion-item-divider text-wrap class="questionHead" style="padding:0px;">
          <ion-grid class="question-wrap" style="background-color:#FFFEEE;">
            <ion-row>

              <ion-col col-2 class="fntsze" style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:18px; padding-left: 0px;">
                <span> {{Qnumber}}.</span>
              </ion-col>

              <ion-col col-10 class="fntsze" style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                <p style="font-size: 18px;" class="question" [innerHtml]="questions "> </p>
              </ion-col>

            </ion-row>

          </ion-grid>
          <div class="col-sm-12 bdr" *ngIf="imageFlag">

            <br>
            <img class="img-responsive" style="width: 400px;height: 400" [src]='url + imgUrl'>
            <br>
          </div>
        </ion-item-divider>

        <div class="answer-wrap pdd" style="padding:0px!important;border-bottom:none!important;">
          <div *ngFor="let option of options ;let i= index;">

            <ion-item class="pdd" style="padding-left:0px!important; min-height: 0.0rem !important;  " text-wrap disabled="answered">

              <ion-grid class="pdd" style="background-color:#FFFEEE; padding: 0px!important;">
                <ion-row class="pdd" class="fntsze" style=" margin:0!important;" [ngClass]="{'correct':answers===option.id,'wrong':userAnswers===option.id}">
                  <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;; padding-bottom:13px; padding-top: 13px;">{{option.id}}.</ion-col>
                  <ion-col col-10 class="fntsze" style="padding-left:5px!important;margin-left: 0px;line-height:22px;padding-bottom:13px; padding-top: 13px;line-height:26px;">
                    <span>{{option.text}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

          </div>
        </div>
        <ion-grid style="padding-left: 0px;">
          <ion-row style="padding-left: 0px;">
            <ion-col style="font-size: 14px;">
              <a (click)="ReportQue()">Report this question</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col col-4>
            <button float-center ion-button color="#108fd2" style="background-color:#108fd2;" icon-left (click)="previousButtonClick()"
              [disabled]=noPrevQuestion>Previous</button>
          </ion-col>
          <ion-col col-4>
          </ion-col>
          <ion-col col-4>
            <button float-center ion-button style="background-color:#108fd2;color:white; padding: 0px 30px 0px 30px;" (click)="nextButtonClick()"
              [disabled]=noQuestion>Next</button>

          </ion-col>
        </ion-row>
        <div *ngIf="description">
          <p style="font-weight:bold;font-size:18px!important;">Description</p>
          <p [innerHtml]="description" class="scrollbar" style="line-height:27px!important; font-size:18px!important; font-weight:unset;"></p>
        </div>
      </div>
    </div>
    <div *ngIf="starredView && listStarView && !quickStarredView">
      <div *ngFor="let item of questionlistStarData;let i=index;">

        <ion-row class="qsnHead">

          <ion-grid (click)="toggleDetails(item);findImage(i)" [ngClass]="{active: isGroupShown(item)}">
            <ion-row>

              <ion-col col-2 style="padding-top: 15px;max-width: 13.76667%;padding-left:0px;padding-right:5px;">
                <span style="font-size: 18px;">{{i+1}}.</span>
              </ion-col>
              <ion-col col-10 style="padding-top: 0px;font-size: 15px;padding-left:0px;">
                <span style="font-size: 18px;line-height: 20px" [innerHtml]="item.questions"></span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-row>
        <div *ngIf="isGroupShown(item)" style="background-color: #fffeee">

          <div class="col-sm-12 bdr" *ngIf="imageFlag">
            <br>
            <img class="img-responsive" style="width: 400px;height: 400" [src]='url + item.question_image'>
            <br>
          </div>
          <div *ngFor="let option of item.options">
            <ion-grid style="padding-left:0px;padding:0px;">
              <ion-row style=" margin:0!important;border-bottom:none;" [ngClass]="{'correct':item.answers===option.id,'wrong':item.userAnswer===option.id}">
                <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;max-width: 13.76667%;padding-left:5px;padding-right:0px;line-height:34px;">{{option.id}}.</ion-col>
                <ion-col col-10 style="padding-left: 0px!important; margin-left: 0px;line-height:20px;font-size: 18px;padding-left:0px;line-height:34px;"
                  [innerHtml]="option.text"></ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div *ngIf="item.description">
            <p style="font-weight:bold;font-size: 18px; padding-left:5px;">Description:</p>
            <p [innerHtml]="item.description" class="scrollbar" style="line-height: 20px;font-size: 18px; padding-left:5px;"></p>

          </div>


        </div>
      </div>
    </div>

    <div *ngIf="listview">
      <div class="center" *ngIf="!questionlistData">
        <ion-spinner></ion-spinner>
        `
      </div>
      <div *ngFor="let item of questionlistData;let i=index;">

        <ion-row class="qsnHead">

          <ion-grid (click)="toggleDetails(item);findImage(i)" [ngClass]="{active: isGroupShown(item)}">
            <ion-row>

              <ion-col col-2 style="padding-top: 15px;max-width: 13.76667%;padding-left:0px;padding-right:5px;">
                <span style="font-size: 18px;">{{i+1}}.</span>
              </ion-col>
              <ion-col col-10 style="padding-top: 0px;font-size: 15px;padding-left:0px;">
                <span style="font-size: 18px;line-height: 20px" [innerHtml]="item.question"></span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-row>
        <div *ngIf="isGroupShown(item)" style="background-color: #fffeee">

          <div class="col-sm-12 bdr" *ngIf="imageFlag">
            <br>
            <img class="img-responsive" style="width: 400px;height: 400" [src]='url + item.question_image'>
            <br>
          </div>

          <div *ngFor="let option of item.options">
            <ion-grid style="padding-left:0px;padding:0px;">
              <ion-row style=" margin:0!important;border-bottom:none;" [ngClass]="{'correct':item.answer===option.id,'wrong':item.userAnswer===option.id}">
                <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;max-width: 13.76667%;padding-left:5px;padding-right:0px;line-height:34px;">{{option.id}}.</ion-col>
                <ion-col col-10 style="padding-left: 0px!important; margin-left: 0px;line-height:20px;font-size: 18px;padding-left:0px;line-height:34px;"
                  [innerHtml]="option.text"></ion-col>
              </ion-row>
              <!-- <ion-item  style="font-size: 15px;" [ngClass]="{'correct':item.answer===option.id,'wrong':item.userAnswer===option.id}" [innerHtml]="option.text" >
                       
                        </ion-item> -->
            </ion-grid>
          </div>
          <div *ngIf="item.description" >
            <p style="font-weight:bold;font-size: 18px; padding-left:5px;">Description:</p>
            <p [innerHtml]="item.description" class="scrollbar" style="line-height: 20px;font-size: 18px; padding-left:5px;"></p>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <div class="bar bar-footer bar-assertive">
      <ion-grid style="padding-left: 0px;padding-right: 0px; padding-top: 0px;padding-bottom:0px;">
        <ion-col col-12 style="background-color:#cecece; ">
          <ion-row>
            <ion-col col-2 style="font-size:20px;text-align:center; padding: 0px; margin: 0px;">

              <ion-icon ios="ios-bookmark" md="md-bookmark" *ngIf="listview"></ion-icon>
              <ion-icon ios="ios-bookmark" md="md-bookmark" *ngIf="listStarView" style="color: #108fd2!important; "></ion-icon>
              <ion-icon ios="ios-bookmark" md="md-bookmark" *ngIf="!listview && !listStarView " [ngClass]="{'starred': star}" (click)="starQuestions()"></ion-icon>

            </ion-col>
            <ion-col col-3 style="font-size:20px;text-align:center;padding-top:5px;padding: 0px; margin: 0px; padding-left: 3px;">
              <ion-toggle float-center checked="true" style="  display: block;
                margin: auto;padding-top:4px; " [(ngModel)]="starredView" (ionChange)="logEvent($event)">

              </ion-toggle>

            </ion-col>
            <ion-col col-3 *ngIf="!starredView && !listStarView && !quickStarredView" style="font-size:20px;text-align:center!important;padding: 0px; margin: 0px;">
              <ion-icon [ngClass]="(quickclr)?'blueIcon':'icn'" ios="ios-eye" md="md-eye" (click)="quickView()"></ion-icon>

            </ion-col>
            <ion-col col-3 *ngIf="starredView || listStarView || quickStarredView" style="font-size:20px;text-align:center!important;padding: 0px; margin: 0px;">
              <ion-icon [ngClass]="(quickclr)?'blueIcon':'icn'" ios="ios-eye" md="md-eye" (click)="quickStarView(newvalue)"></ion-icon>

            </ion-col>
            <ion-col col-2 style="font-size:20px;text-align:center;padding: 0px; margin: 0px;">
              <ion-icon class="fabbb" *ngIf="listview || listStarView" ios="ios-clipboard" md="md-clipboard">
              </ion-icon>
              <ion-icon class="fabbb" *ngIf="!listview && !listStarView && resultData.length == 0" ios="ios-clipboard" (click)="addNotes()"
                md="md-clipboard">
              </ion-icon>
              <ion-icon class="fabbb" *ngIf="!listview && !listStarView &&  resultData.length != 0" ios="ios-clipboard" (click)="editNote()"
                md="md-clipboard">
                <ion-icon style="padding-top: 8px;" id="notifications-badge" ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </ion-icon>
            </ion-col>
            <ion-col col-2  *ngIf="!starredView && !listStarView && !quickStarredView" style="font-size:20px;text-align:center;padding: 0px; margin: 0px;">
              <ion-icon [ngClass]="(listClr)?'blueIcon':'icn'" ios="ios-list" md="md-list" (click)="listView()"></ion-icon>
            </ion-col>
            <ion-col col-2 *ngIf="starredView || listStarView || quickStarredView" style="font-size:20px;text-align:center;padding: 0px; margin: 0px;">
              <ion-icon [ngClass]="(listClr)?'blueIcon':'icn'" ios="ios-list" md="md-list" (click)="listStarview()"></ion-icon>
            </ion-col>
            <ion-col col-2 style="text-align: center; padding: 0px; margin: 0px;">
              Bookmark
            </ion-col>
            <ion-col col-3 style="text-align: center; padding: 0px; margin: 0px;padding-left: 3px;">
              Bookmarked only
            </ion-col>
            <ion-col col-3 style="text-align: center; padding: 0px; margin: 0px;">
              Quick View
            </ion-col>
            <ion-col col-2 style="text-align: center; padding: 0px; margin: 0px;">
              Notes
            </ion-col>
            <ion-col col-2 style="text-align: center; padding: 0px; margin: 0px;">
              list View
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-grid>
    </div>
  </ion-footer>
</body>

</html>