page-questions{
  .footer{padding: 0px;
    }
  .Qhead{
    padding: 2px;
    border: solid 1px #DDD;
    background-color: rgb(221, 41, 91);
    color: #FFF;
    border-radius: 3px;
    margin: 1px;
  }
  .correct {
      background-color: #66BB6A !important;
  }
  
   .wrong {
      background-color: #DE726B !important;
  }
  .toast-container{
      background-color: #108fd2 !important;
   }
  .headSec{
    color: #FFF;
      font-weight: bold;
    font-size: 11px;
    //padding-top:10px;
  }
  .icon-circle {
    position: relative;
      display: inline-block;
    
      padding: 7px;
      width: 39px;
      height: 39px;
      font-size: 19px;
      border-radius: 50%;
      border: 1px solid #00a1e1;
      background: #108fd2;
      color: #fff;
      text-align: center;
    
    }
        
  .center{
      padding-left: 50%;
      padding-right: 50%;
    
    }
    .question{
    font-size: 16px;
      
    }
    .Vscroll{
      height: 209px;
    }
    .no-scroll .scroll-content{
      overflow: hidden;
    }
    .fabNote{
      width: 41px;
      height: 41px;
      background-color: #F9F59F;
      color: #a94442;
      margin-bottom: 255px;
    }
    .starred {
      color:#108fd2;
    }
 
    .item-md p{
 
      color:black!important;
      font-size:18px;
      // padding-bottom:15px;
      // padding-top:15px;
   
   }
   .item-divider-md {
      //padding-left: 16px;
      border-bottom: 1px solid #dedede;
      font-size: 1.4rem;
      color:black !important;
   }
 
 #notifications-badge {
  text-align: center;
      color:#108fd2;
      position: absolute;
      top: -3px;
      right: 11px;
      border-radius: 200%;
      font-weight:100;
  }
    .button-md-primary {
      color: #fff;
      background-color:#108fd2 !important;
  }
  .question-wrap {
   // border-right: 1px solid #e2e1e1;
   // border-left: 1px solid #e2e1e1;
  //  border-top: 1px solid #e2e1e1;
    padding: 0px 1px 0px 6px;
      background-color: #fff;
      margin-top:0px;
  }
  .answer-wrap {
   // border-right: 1px solid #e2e1e1;
   // border-left: 1px solid #e2e1e1;
    border-bottom: 1px solid #e2e1e1;
    padding: 3px 9px 27px 9px;
    background-color: #fff;
  }
  .question {
    font-size: 14px;
  }
  .option-wrap{
    height: auto;
      background-color: #eee;
  }
  .label-md {
   margin: 0px 0px 0px 0 !important;
  }
  
  .item-md.item-block .item-inner {
    border-bottom:0px;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: none!important;
  }
 
 
  .pra{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
  }
 
  .label-ios {
    margin: 0px 0px 0px 0px;
}

.item-ios.item-block .item-inner {
  padding-right: 0px;
}

.item-ios p {
font-size: 18px;
color: black;
padding-top:7px;
}


  }



  .scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #FFFeee;
	overflow-X: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height:auto;
}
.scrollbar{
  height:auto!important;
  width:100%;
  margin-left:0px; 
}
  .fntsze
  {
    font-size:18px;
  }
  .scroll-content{
  
  padding: 10px !important;
  
  }
  
  
  .answer-wrap page-questions{
  
    padding: 0px 0px 0px 0px!important;
  }
  .question-wrap page-questions {
  
    padding: 0px 0px 0px 0px!important;
  }
   .page-questions .item-md .item-block  .item-inner {
    padding-right: 8px !important;
    border-bottom:none!important;
  }
  .page-questions .question-wrap {
  
  padding:0px!important;
  
  }
  .item-inner page-questions item-mditem-block {
    padding-right: 8px !important;
    border-bottom: 0px solid #dedede !important;
  }
  
  .page-questions .item-md.item-block .item-inner {
    padding-right: 8px !important;
    border-bottom: 1px solid red !important;
  }
  .item-md p{
    padding-bottom:3px!important;
    padding-top: 5px!important;
  }
  .next {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
 }
 .icn{
  color:black !important;
 }
 .blueIcon{
  
  color: #108fd2!important;
 }
 .nte:hover{
color: #108fd2;
background-color: #108fd2;
 }