<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>privacy Policy</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content padding class="bgpic">
         
                <ion-list>
                        <ion-list-header text-wrap>
                                SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
                        </ion-list-header>
                        <ion-item text-wrap>When you signup to our site, app, we collect the personal information you give us such as your name, address and email addres</ion-item>
                        <ion-item text-wrap>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</ion-item>
                        <ion-item text-wrap>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</ion-item>
                      
                    <ion-item text-wrap>
                            Push notifications (if applicable): With your permission, we notify you about our store, new products and other updates.
                    </ion-item>
                </ion-list>
                <ion-list>
                        <ion-list-header text-wrap>
                                SECTION 2 - CONSENT
                        </ion-list-header>
                        <ion-item text-wrap>How do you get my consent?</ion-item>
                        <ion-item text-wrap>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</ion-item>
                        <ion-item text-wrap>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</ion-item>
                      
                    <ion-item text-wrap>
                            How do I withdraw my consent?

                    </ion-item>
                    <ion-item text-wrap>
                            If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at contactus@nextfellow.com
                    </ion-item>
                </ion-list>
                <ion-list>
                        <ion-list-header text-wrap>
                                SECTION 3 - DISCLOSURE
                        </ion-list-header>
                        <ion-item text-wrap>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</ion-item>
                        <ion-item text-wrap>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</ion-item>
                       
                    
                </ion-list>
          
                <ion-list>
                        <ion-list-header text-wrap>
                                SECTION 4 - PAYMENT
                        </ion-list-header>
                        <ion-item text-wrap>We use third party services for processing payments. We do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.</ion-item>
                       
                    
                </ion-list>
          </ion-content>