page-write{
    .button-ios { 
        font-size: 1.2rem !important;
    }
    .card-ios {
        margin:-6px;
        border-radius: 2px;
        width: calc(100% - -11px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    
    .item-ios p {
    font-size: 18px;
    color: black;
    padding-top:7px;
    }

    .toast-container{
        background-color: #108fd2 !important;
     }
    
    .selected {
        background-color: #a8d3ec;
    }
    
    .bgpic{
        background-image: url('../assets/img/new bg 5.png');
        //background-repeat: no-repeat;//
        background-position: center;
        background-size: contain;
        width: 100%;
      }
    .answer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .marg-up{
        
        margin-top:30px;
        
        }
        .mrgtp{
        text-align-last: center;
        margin-top:70px;
        }
        
        .mrgbtn{
        text-align-last: center;
        margin-bottom:20px;
        
        }
        .clr-btn{
        
            background-color:#108fd2;
        }
        
        .button-md.activated{
            
            background-color: #0a70a3!important;
        
        }
        .fnt-size{
        
        font-size:3px;
        
        }
        
        .card-header-md {
            padding:1px;
           
        }
        
        
        .scroll-container {
            width: 2600px;
            height: 1000px;
         }
        
        .align-icon{
            text-align:right;
         }
        
        .rcorners1 {
            border-radius: 25px;
            background: #73AD21;
             
            width:1px;
            height:1px;    
        }
        // ion-item:hover {
        
        //     background-color: red;
        //     border-color: red;
        //     }
        
         
    
    
    
    
    
    ion-menu .scroll-content{
        overflow-y: auto; // or "overflow: auto;"
    }
    
            .circleStyle {
                display: inline-block;
                border-radius: 54%;
                min-width: 14px;
                min-height: 26px;
                padding: 1px 1px 0px 0px;
                background: #f8f8f8;
                color: black;
                text-align: center;
                line-height: 1;
                box-sizing: content-box;
                white-space: nowrap;
                margin-left:7px;
              }
              .circleStyle:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                padding-top: 100%;
                height: 0;
              }
              .circleStyle span {
                display: inline-block;
                vertical-align: middle;
              }
              .circle {
                display: inline-block;
                border-radius: 50%;
                min-width: 20px;
                min-height: 20px;
                padding: 5px;
                background: #f8f8f8;
                color: black;
                text-align: center;
                line-height: 1;
                box-sizing: content-box;
                white-space: nowrap;
                
              }
              .circle1 {
                display: inline-block;
                border-radius: 50%;
                min-width: 20px;
                min-height: 20px;
                padding: 5px;
                background: #c3e0f2;
                color: black;
                text-align: center;
                line-height: 1;
                box-sizing: content-box;
                white-space: nowrap;
                
              }
              .circle2 {
                display: inline-block;
                border-radius: 50%;
                min-width: 20px;
                min-height: 20px;
                padding: 5px;
                background: #ffff4d;
                color: black;
                text-align: center;
                line-height: 1;
                box-sizing: content-box;
                white-space: nowrap;
                
              }
              #write-exam .circle {
                width: 30px;
                height: 30px;
                border-radius: 60px;
                color: #000;
                line-height: 31px;
                border: 1px solid #3c3c3c;
                margin: 5px;
                padding-left: 7px;
                font-size: 10px;
            }
            .exampages{
                background-color: #108fd2 !important;
                color: white !important;
            }
            .selected {
                background-color: #a8d3ec;
            }
            
            .btnSize {
                width: 150px;
                text-align: center;
            }
            
            .marked {
                background-color: #ffff00;
            }
            
            // .question {
            //     font-size: 17px;
            //     font-weight: 100px;
            // }
            .playBtn{
                font-size: 26px !important;
                margin-top: 1px !important;
                background-color:#cecece !important;
            }
            .questionHead {
               
                padding: 0px 0px 0px 0px;
                background-color: #fff;
              }
              .optionStyle {
               
                border-bottom: 1px solid #e2e1e1;
             
                background-color: #fff;
              }
            .answer {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            #write-exam table td {
                padding: 15px;
            }
            
            .modal-body .table p {
                color: #000;
            }
            
            .no-padding {
                padding: 0;
            }
            
            
            /* Edited From here */
            
            .star {
                visibility: hidden;
                font-size: 30px;
                cursor: pointer;
                color: #ddd;
                font-size: 34px;
                position: relative;
            }
            
            .star:before {
                content: "\2606";
                position: absolute;
                visibility: visible;
                color: #FDE16D;
                /* Full star in UTF8 */
                position: absolute;
                left: 0;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
            }
            
            .star:checked:before {
                content: "\2605";
                position: absolute;
            }
            
            @media screen and (max-width:736px) {
                .btn-fc {
                    display: none!important;
                }
            }


            .answer-wrap page-questions{
       
                padding: 0px 0px 0px 0px!important; 
              }
              .question-wrap page-questions {
               
                padding: 0px 0px 0px 0px!important; 
              }
               .page-questions .item-md .item-block  .item-inner {
                padding-right: 8px !important;
                border-bottom:none!important;
              }
              .page-questions .question-wrap {
              
              padding:0px!important;
              
              }
        
        .fntsze
        {
          font-size: 16px;
        }
        
              
        .item-divider-md{
        
            border-bottom:none ;
        
        }
        
        .fntsze
        {
          font-size: 25px;
          
          line-height: 19px!important; 
        }
        
        .scroll-content{
        
        padding: 10px !important; 
        
        }
        
        .answer-wrap page-questions{
         
          padding: 0px 0px 0px 0px!important; 
        }
        .question-wrap page-questions {
         
          padding: 0px 0px 0px 0px!important; 
        }
         .page-questions .item-md .item-block  .item-inner {
          padding-right: 8px !important;
          border-bottom:none!important;
        }
        .page-questions .question-wrap {
        
        padding:0px!important;
        
        }
        
        .item-inner page-questions item-mditem-block {
          padding-right: 8px !important;
          border-bottom: 0px solid #dedede !important;
        }
        .page-questions .item-md.item-block .item-inner {
          padding-right: 8px !important;
          border-bottom: 1px solid red !important;
        }
        
        .label-md {
            margin: 0px 0px 0px 0px!important;
        }
       
        .item-md p{
            color:black!important;
            font-size:18px;
            padding-bottom:15px;
            padding-top:15px;
        }

        .item-divider-md {
            padding-left: 16px;
            border-bottom: 1px solid #dedede;
            font-size: 1.4rem;
            color:black !important;
        }
        
        page-write .playBtn {
            width: 18px !important;
            font-size: 16px;
        }
       
        .scroll-content{
            padding:4px;
        }

        }
    
