<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Contact Us</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content class="bgpic" >
          <div>
          <ion-grid>
                <ion-card>
                    <ion-row>
                            <ion-col col-6 style="padding-left: 8px;
                            padding-top: 13px;">
                    <h2>
                            <b>Registered Address</b>
                    </h2>
                    <p><b>Nellikavu,
                            <br> Karaparamba,
                            <br> Bilathikkulam,
                            <br> Kozhikode,
                            <br> Kerala - 673010</b></p>
                        </ion-col>
                       
                        <ion-col col-6 style="padding-left: 20px;
                        padding-top: 13px;">
               <h2><b>Office Address</b></h2>
               <p><b>KSIDC BIC,
                   <br> UL CyberPark,
                   <br> Kozhikode,
                   <br> Kerala - 673016</b></p>    
</ion-col>

</ion-row>            
                </ion-card>
                </ion-grid>
                </div>
                <ion-row responsive-sm  style="margin-top: 41px;">
         
                        <ion-col col-3 >
                          <a button  ion-fab style="background-color: #fff;width: 42px;
                          height: 42px; margin-left: 23%" href="https://www.facebook.com/nextfellow">
                            <ion-icon  name="logo-facebook" style="color: #3b5999;"></ion-icon>
                          </a>
                        </ion-col>
                        <ion-col col-3   >
                          <a button float-center ion-fab style="background-color: #fff;width: 42px;
                          height: 42px; margin-left: 23%" href="https://plus.google.com/communities/101941017720698983479">
                            <ion-icon name="logo-googleplus" style="color:#dd4b39;"></ion-icon>
                          </a>
                        </ion-col>
                        <ion-col col-3  >
                          <a button float-center ion-fab style="background-color: #fff;width: 42px;
                          height: 42px; margin-left: 23%" href="https://www.linkedin.com/company/nextfellow">
                            <ion-icon name="logo-linkedin" style="color:#0077B5;"></ion-icon>
                          </a>
                        </ion-col>
                        <ion-col col-3 >
                          <a button  ion-fab style="background-color: #fff;width: 42px;
                          height: 42px; margin-left: 23%" href="https://twitter.com/nextfellow">
                            <ion-icon name="logo-twitter" style="color:#55acee;"></ion-icon>
                          </a>
              
                        </ion-col>
                       
                      </ion-row>
                      <ion-grid>
                        <p class="hdstyle">Want to share your valuable opinions</p>
                        <p style="font-size: 14px;
                        text-align: center;
                        font-family: initial;">
                            We are thrilled to get feedback from you, Your opinions and comments are important
                        </p>
                        <div style="
                      height: 213px;
                      width: 100%; 
                      ">
                      <form  #subForm="ngForm" (ngSubmit)="Feedback(subForm.value)" novalidate>
                            <ion-list>
                        
                              <ion-item>
                                <ion-textarea placeholder="Message here" 
                                [(ngModel)]="message" name="message" autocomplete="on" autocorrect="on"></ion-textarea>
                                <!-- <ion-input type="text" #email="ngModel" id="email" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
                                  name="email" required ngModel> -->
                                  <!-- <ion-input [(ngModel)]="username" name="username" type="text" #usernames="ngModel" spellcheck="false" autocapitalize="off"
                               required> -->
                               
                        
                              </ion-item>
                              <div class="error" *ngIf="message?.errors && (message?.touched || message?.dirty)">
                               
                              </div>
                            </ion-list>
                           
                                    <button ion-button style="float:right" class="bgcolor" type="submit"  >Send</button>
                                 
                            </form>

                      </div>
                    </ion-grid>
          </ion-content>