

<style>
.button-inner{
  background-color: #108fd2!important;
}

</style>

<ion-header>
  <ion-navbar>
    
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bgpic">
  <!-- <ion-list no-border>
      <ion-list-header style="padding-left:0px;">
      <ion-grid>
          <ion-row>
<ion-col col-3><img style="width:60px;height:60px;" src="assets/img/image.png"></ion-col>
<ion-col col-5 style="padding-top:19px;"><p class="username"><b>{{UserName}}</b></p></ion-col>
<ion-col col-4 style="text-align: right;">
    <ion-icon item-end  name="ios-arrow-forward" style="font-size: 33px;
    color: #108fd2;
    font-weight: bold;" (click)="EditProfile()"></ion-icon>
  </ion-col>

  </ion-row>
        </ion-grid>

    
     
      
      
  
             
              
           
    </ion-list-header>
  </ion-list> -->
  <ion-list  style="border: 1px solid #108fd2; background-color:#108fd2;" >

      <!-- <ion-list-header>
      <b>General</b> 
      </ion-list-header> -->
      <ion-item (click)="evaluate()" >
        <ion-icon name='paper' style="color:#108fd2" item-start></ion-icon>
     Evaluate
        <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
      </ion-item>
      <!-- <ion-item (click)="subscribe()" >
        <ion-icon name='card' style="color:#108fd2" item-start></ion-icon>
        
        Pro users
      
        <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
      </ion-item> -->
      <!-- <ion-item>
          <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"  ></ion-toggle>
        <ion-label>
         Enable notification
        </ion-label>
        <ion-icon name='notifications' style="color:#108fd2" item-start></ion-icon>
      </ion-item> -->
      <ion-item (click)="teachers()" >
          <ion-icon name='md-contacts' style="color:#108fd2" item-start></ion-icon>
        Our Team
          <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
        </ion-item>
        <!-- <ion-item  (click)="faq()">
          <ion-icon name='md-help'  style="color:#108fd2" item-start></ion-icon>
         FAQ
          <ion-icon name="ios-arrow-forward-outline" item-end   style="color:#108fd2"></ion-icon>
        </ion-item> -->
        <ion-item (click)="settings()" >
          <ion-icon name="cog" style="color:#108fd2" item-start></ion-icon>
     Settings
          <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
        </ion-item>
       
        <ion-item (click)="timetable()" >
          <ion-icon name="md-calendar" style="color:#108fd2" item-start></ion-icon>
     Timetable
          <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
        </ion-item>
       
     
        <ion-item (click)="logOut()" >
          <ion-icon name="ios-log-out" style="color:#108fd2; font-weight: bold;" item-start></ion-icon>
     Logout
          <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
        </ion-item>
  
  
    </ion-list>
    <!-- <ion-list >

      <ion-list-header>
      <b>Settings</b> 
      </ion-list-header>
       <ion-item  (click)="faq()">
            <ion-icon name='md-help'  style="color:#108fd2" item-start></ion-icon>
           FAQ
            <ion-icon name="ios-arrow-forward-outline" item-end   style="color:#108fd2"></ion-icon>
          </ion-item>
      
      <ion-item (click)="aboutPage()">
        <ion-icon name='md-information-circle'  style="color:#108fd2" item-start></ion-icon>
        About us
        <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
      </ion-item  >

  </ion-list> -->
 
    <!-- <ion-list >

        
        
      <ion-item >
        <ion-row>
         <!-- <ion-col col-12 style="text-align: right; color: #108fd2;font-size:22px;">
            Log Out
            <ion-icon (click)="logOut()" ios="ios-log-out" md="md-log-out" style="font-size:22px;" >   </ion-icon>

         </ion-col> -->
         <!-- <button ion-button block style="background-color:#108fd2;color:white;" (click)="logOut()">Logout </button>

        </ion-row>
          
              
         
        </ion-item>

      </ion-list> --> 
</ion-content>
