page-setting {

  .toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color:white;
    pointer-events: auto;
}
  .username {
    font-size: 1.3em;
  }
  .label {
    color: #7f7f7f;
  }
  .bgpic{
    background-image: url('../assets/img/new bg 5.png');
    //background-repeat: no-repeat;//
    background-position: center;
    background-size: contain;
    width: 100%;
  }
}

