page-about{
    

    .card-ios {
        margin:-6px;
        border-radius: 2px;
        width: calc(100% - -11px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }
.version{
   text-align:center;
   display: block;
   margin: auto;
   font-size: 17px;
}

.paragraph{
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.bgpic{
    background-image: url('../assets/img/new bg 5.png');
    //background-repeat: no-repeat;//
    background-position: center;
    background-size: contain;
    width: 100%;
  }
}

