<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>AboutUs</ion-title>
    </ion-navbar>
  </ion-header>
    <ion-content class="bgpic" >
      <ion-grid style="background-color: white; " style=" background-color:#108fd2; color:white; border: 2px solid #108fd2; border-radius: 15px 15px 0px 0px;">
          <ion-row>
              <ion-col col-12>
                <img src="assets/img/logo.png" style="width:95px;height:100px; display: block; margin:auto;">
                
              </ion-col>
              <ion-col col-12>
                    <p class="version"> V{{appversions}}</p>
              </ion-col>

          </ion-row>
          <ion-row >
              <p class="paragraph">

                    Nextfellow Pvt Ltd is an ed-tech company working with a vision to build a platform where everyone can learn, share and contribute to global education. Currently, our focus is on medical sector. We are building a website and mobile app for medical students to realize their dream of postgraduation.

              </p>
          </ion-row>
        
               
          
      </ion-grid>
      <ion-list style="border: 1px solid #108fd2; background-color:#108fd2;">
            <ion-item (click)="privacy()">
              
               <b>Privacy Policy</b> 
              <ion-icon name="ios-arrow-forward-outline"  item-end></ion-icon>
            </ion-item>
            <ion-item (click)="return()">
              
                    <b>Return Policy</b> 
                   <ion-icon name="ios-arrow-forward-outline"   item-end></ion-icon>
                 </ion-item>
                 <ion-item (click)="contact()">
              
                        <b>Contact us</b> 
                       <ion-icon name="ios-arrow-forward-outline"   item-end></ion-icon>
                     </ion-item>
            
          </ion-list>
      <!-- <ion-list>
                    
            <button ion-item  (click)="itemSelected(item)">
             privacy
            </button>       <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>

            <button ion-item  (click)="itemSelected(item)">
                    privacy
                   </button> 
                   <button ion-item  (click)="itemSelected(item)">
                        privacy
                       </button>  
          </ion-list> -->
         
      </ion-content>