<!--
  Generated template for the NestedTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Exam-overview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="center" *ngIf="!subjectList">
        
       
        <ion-spinner  ></ion-spinner>
       
      </div>

    <ion-card  >
        <ion-card-header >
        Learn
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas></canvas>
        </ion-card-content>
      
      
      </ion-card>
      <ion-card  >
          
          <ion-card-content>
              <ion-item *ngIf="examCount">
                  <ion-icon name="ios-close" item-start></ion-icon>
                  Exams Written
                  
                  
                  <ion-badge item-end color="danger">{{examCount}}</ion-badge>
                </ion-item>
                <ion-item *ngIf="grandCount">
                  <ion-icon name="ios-checkmark" item-start></ion-icon>
                  Total Grant Tests
                                    
                  <ion-badge item-end color="secondary">{{grandCount}}</ion-badge>
                </ion-item>
              
          </ion-card-content>
        
        
        </ion-card>
      <ion-card  >
          <ion-card-header >
          Exams
          </ion-card-header>
          <ion-card-content>
            <canvas #supExam></canvas>
          </ion-card-content>
        
        
        </ion-card>
</ion-content>
