page-nested-tab1 {

}
.scroll {
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}
.subject {
    
    margin-right: 50px;
    margin-bottom: 20px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.center{
    padding-left: 50%;
    padding-right: 50%;
   
  }