<ion-header>
  <ion-navbar>
  <ion-title>Create Exam</ion-title>

 <!-- <button ion-fab class="pop-in" color="danger"  type="submit" style="float: right;
  width: 32px;
  height: 32px;"  id="loginShow"> <ion-icon  name="close"></ion-icon></button>-->
  </ion-navbar>
  </ion-header>
  <ion-content padding>
   
  <p> Total Number Of Questions Available:{{totalQue}} 
  <form #grantFrom="ngForm" (ngSubmit)="createNewExam(grantFrom.value)">
   
  <ion-list>
   
  <ion-item>
  <ion-label>Exam name</ion-label>
<ion-input type="text"  [(ngModel)]="shortName" name="names" type="text" #names="ngModel"  required></ion-input>

  <!-- <ion-input type="text" #names="ngModel" id="name" name="names" required ngModel>

  </ion-input> -->
   
  </ion-item>
  <div class="error" *ngIf="names?.errors && (names?.touched || names?.dirty)">
  <p class="error" [hidden]="!names.errors.required"> Please enter exam name </p>
   
  </div>

  
  <ion-item  style="border-bottom: 1px solid #dddada;">
  <ion-label >No of questions</ion-label>
  <ion-input type="number" min=0 step='1' max={{totalQue}} #questNum="ngModel" name="questionNumber" [(ngModel)]="qutno" required ngModel (ngModelChange)="startCheck($event,qutno)">
   
  </ion-input>
  </ion-item>
  <div class="error" *ngIf="questNum.errors && (questNum.touched || questNum.dirty)">
  <p class="error" [hidden]="!questNum.errors.required"> This is a required field. </p>
   
  </div>
  <div class="error" *ngIf="qutno<5">
  <p class="error" [hidden]="qutno>5 || !qutno "> Please enter a number at least five </p>
   
  </div>
  <div class="error" *ngIf="qutno>totalQue">
  <p class="error" [hidden]="qutno<totalQue ||!qutno"> Please enter a number less than {{totalQue}} </p>
   
  </div>
  <div class="error" *ngIf="qutno>300">
  <p class="error" [hidden]="(qutno<300 && qutno > 300 ) || !qutno "> Please enter a number less than 300 </p>
   
  </div>
  <ion-row *ngIf="starttimer">
   
  <ion-col width-50>
  <ion-item>
  <ion-label>Hours</ion-label>
  <ion-input  type="number" min="0" step="1" max="3"  name="hour" #hours="ngModel" [(ngModel)]="hourss">
  </ion-input>

   
 
  </ion-item>
  </ion-col>
  <ion-col width-50>
  <ion-item>
  <ion-label>minute</ion-label>
  <ion-input  type="number" min="0" step="1" max="59"  name="minute" #minute="ngModel" [(ngModel)]="defMint" ngModel value="00">
  </ion-input>
 
  </ion-item>
  </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>Start Timer</ion-label>
     
    <ion-checkbox [disabled]="!qutno || qutno<5 || qutno>300 || qutno>totalQue" [(ngModel)]="starttimer" name="strtbox"></ion-checkbox>
    </ion-item>
  <ion-item>
  <ion-label>Write later</ion-label>
   
  <ion-checkbox [disabled]="!qutno || qutno<5 || qutno>300 || qutno>totalQue" [(ngModel)]="writelater" name="box"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="writelater">
  <ion-label >Date</ion-label>
  <ion-datetime displayFormat="YYYY-MM-DD" #date="ngModel" name="date" ngModel ></ion-datetime>
  </ion-item>
   
  </ion-list>
   
  <ion-row responsive-sm>

  <ion-col>
  <button type="submit" ion-button color="light" block *ngIf="!writelater" [disabled]="!grantFrom.form.valid" style="background-color:#108fd2; color: white;">Write now</button>
  <button type="submit" ion-button color="light" block *ngIf="writelater" [disabled]="!grantFrom.form.valid" style="background-color:#108fd2;color: white; ">Finish</button>
  </ion-col>
  </ion-row>
   
   

  </form>
  <ion-row responsive-sm>
  <ion-col>
    <button ion-button id="loginShow" type="submit" block style="background-color:#108fd2;" (click)="CancellBut()">Cancel</button>
    </ion-col>
  </ion-row>
  </ion-content>