.modal-wrapper {
    /* z-index: 10; */
    height: 126%;
    contain: strict!important;
    transform: translateY(-38px) !important;
}
.alert-md .alert-button {

    color:#108fd2!important;
 
 }
 .alert-md [aria-checked=true] .alert-radio-icon {
    border-color:#108fd2!important;
 }
 .alert-md .alert-radio-inner {
  
    background-color: #108fd2!important;
 }
 .alert-md [aria-checked=true] .alert-radio-label {
    color:#108fd2!important;
 }
 
 .checkbox-md .checkbox-checked {
    border-color:#108fd2!important;
    background-color:#108fd2!important;
 }