<ion-header>
    <ion-navbar>
      
      <ion-title>Menu</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="bgpic">
        <!-- <ion-list no-border>
                <ion-list-header style="padding-left:0px;">
                <ion-grid>
                    <ion-row>
          <ion-col col-3><img style="width:60px;height:60px;" src="assets/img/image.png"></ion-col>
          <ion-col col-5 style="padding-top:19px;"><p class="username"><b>{{UserName}}</b></p></ion-col>
          <ion-col col-4 style="text-align: right;">
              <ion-icon item-end  name="ios-arrow-forward" style="font-size: 33px;
              color: #108fd2;
              font-weight: bold;" (click)="EditProfile()"></ion-icon>
            </ion-col>
          
            </ion-row>
                  </ion-grid>
                  </ion-list-header>
                  </ion-list> -->

                  <ion-grid style="background-color:#108fd2; border: 2px solid #108fd2; border-radius: 15px 15px 0px 0px;">
                  <ion-row >
                    <ion-col col-12 style="margin-top:13px;">
                      <img class="img-circles" src="assets/img/image-2.png" style="width: 125px;border:2px solid white;">
                    </ion-col>
                    <ion-col col-12>
                      <p class="username">{{UserName}}</p>
                    </ion-col>
                  </ion-row>
                  </ion-grid>

<ion-grid>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button outline (click)="EditProfile()" item-end  style="color: #108fd2; padding: 0px 50px 0px 50px; display: block; margin: auto;
                   ">
                          Edit
                          </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                  <ion-list style="border: 1px solid #108fd2; background-color:#108fd2;">

                       
                    <!-- <ion-list-header>
                      <b>General</b> 
                      </ion-list-header> -->
                         <ion-item>
          <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"  ></ion-toggle>
        <ion-label>
         Enable notification
        </ion-label>
        <ion-icon name='notifications' style="color:#108fd2" item-start></ion-icon>
      </ion-item>
      <!-- <ion-item  (click)="faq()">
            <ion-icon name='md-help'  style="color:#108fd2" item-start></ion-icon>
           FAQ
            <ion-icon name="ios-arrow-forward-outline" item-end   style="color:#108fd2"></ion-icon>
          </ion-item> -->
      
      <ion-item (click)="aboutPage()">
        <ion-icon name='md-information-circle'  style="color:#108fd2" item-start></ion-icon>
        About us
        <ion-icon name="ios-arrow-forward-outline"  style="color:#108fd2" item-end ></ion-icon>
      </ion-item  >
</ion-list>
      </ion-content>