<style>
    .crdmd {
        margin-left: -16px !important;
        border-radius: 2px!important;
        width: calc(100% - -30px)!important;
    }

    .optionStyle .label-md {
        margin: 0px 0px 13px 0;
    }


    .item-md.item-block .item-inner {
        padding-right: 2px;
        border-bottom: 1px solid #dedede;
    }
</style>

<ion-header>
    <ion-toolbar>

        <ion-icon name="md-arrow-back" style="font-size: 21px;
                  margin-left: 8px;
                  color: #fff;" (click)="backToCompletedPage()"></ion-icon>
        &nbsp;&nbsp;
        <span style="font-size: 16px;color: #fff;"  *ngIf="userResult">{{examName}}</span>

    </ion-toolbar>
</ion-header>
<ion-content padding #contentRef  class="bgpic">
    <ion-card style="height:33px;
    margin-left: 0px;" class="crdmd ">
    <ion-slides [slidesPerView]="2" >

        <ion-slide class="blocks" [ngClass]="(scoreDiv)?'selected':'unselected'" (click)="getScore()">
            <span style="font-size:18px; text-align: center;">Score &rarr;</span>
            &nbsp;
            <span style="font-size:18px;text-align: center; ">{{score}}</span>

        </ion-slide>
        <ion-slide [ngClass]="(correctClr)?'selected':'unselected'" id="correctButton" (click)="getQuiestions('CORRECT')">
            <span style="font-size:18px; text-align: center;">Correct &rarr;</span>
           
            <span style="font-size:18px; text-align: center;">{{correct}}</span>
        </ion-slide>

        <ion-slide [ngClass]="(wrongClr)?'selected':'unselected'" (click)="getQuiestions('WRONG')">
            <span style="font-size:18px; text-align: center;">Wrong &rarr;</span>
           
            <span style="font-size:18px; text-align: center;">{{wrong}}</span>
        </ion-slide>
        <ion-slide [ngClass]="(unutendedClr)?'selected':'unselected'" (click)="getQuiestions('UNANSWERED')">
            <span style="font-size:18px; text-align: center;">Unattended &rarr;</span>
          
            <span style="font-size:18px; text-align: center;">{{unanswered}}</span>
        </ion-slide>
        <ion-slide class="blocks"  [ngClass]="(showLeaderBoard)?'selected':'unselected'" (click)=showLeaderborad()>
            <span style="font-size:18px; text-align: center;">Leaderboard &rarr;</span>
           
            <span style="font-size:18px; text-align: center;">{{totalUsers}}</span>

        </ion-slide>


    </ion-slides>
</ion-card>


<div *ngIf="QstnDiv">
        <ion-card style="margin-top:7px;width: 100%;margin-left: 0px; padding-left:-1px;">
            <ion-card-content style=" padding: 0px 0px 0px 0px; padding: 13px 3px;" style="background-color:#FFFEEE;margin-left:-13px!important; margin-right:-13px!important;">
                <ion-item-group>

                    <ion-item-divider text-wrap class="questionHead" style="padding:0px;background-color:#FFFEEE">
                        <ion-grid style="padding-bottom:0px !important;">
                            <ion-row>
                                <ion-col col-2 style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:18px; padding-left: 0px;">
                                    {{Qnumber}}
                                </ion-col>
                                <ion-col col-10 style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                                    <p style="font-size: 18px;" [innerHtml]="qstnName"> </p>


                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <div class="col-sm-12 bdr" *ngIf="imageFlag">

                            <br>
                            <img class="img-responsive" style="width: 400px;height: 400" [src]='url + imgUrl'>
                            <br>
                        </div>
                    </ion-item-divider>




                    <div style="padding:0px!important;border-bottom:none!important;">
                        <ion-list *ngFor="let option of options ;let i= index;">

                            <ion-item text-wrap class="optionStyle" style="font-weight: unset!important;" style="padding-left:0px!important; min-height: 0.0rem !important; background-color:#FFFEEE!important;border-bottom: none!important; "
                                class="optionStyle" style="font-weight: unset!important;" style="padding-left:0px!important; min-height: 0.0rem !important; background-color:#FFFEEE!important;border-bottom: none!important; ">
                                <div [ngClass]="{'correct':correctAnswer===option.id,'wrong':userAnswer===option.id}">


                                    <ion-row>

                                        <!-- <ion-row  > -->
                                        <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;; margin-right: 0px;line-height:23px;">{{option.id}}.</ion-col>
                                        <ion-col col-10 style="padding-left:5px!important;margin-left: 0px;line-height:22px; line-height:23px;font-size:18px;">
                                            <span> {{option.text}}</span>
                                        </ion-col>
                                    </ion-row>

                                </div>


                            </ion-item>
                        </ion-list>
                    </div>

                </ion-item-group>





                <ion-row style="margin-top:10px;">
                    <ion-col col-4>
                        <button float-center ion-button color="#108fd2" style="background-color:#108fd2;" icon-left (click)="previousButtonClick()"
                            [disabled]=noPrevQuestion>Previous</button>

                    </ion-col>
                    <ion-col col-4>

                    </ion-col>
                    <ion-col col-4>
                        <!-- <button class="btn btn-success col-md-3 btnSize exampages " (click)="mark((questionPalette[currentPaletteId].status == 'marked') ? 'unmarked': 'marked')">{{(questionPalette[currentPaletteId].status == 'marked') ? 'Unmark': 'Mark'}}</button> -->


                        <button float-center ion-button style="background-color:#108fd2;color:white; padding: 0px 30px 0px 30px;" (click)="nextButtonClick()"
                            [disabled]=noQuestion>Next</button>

                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <div *ngIf="description" style="background-color:#FFFEEE;">

            <div style="font-weight:bold; font-size:18px;padding-left:10px;padding-top:8px;">Description</div>
           
            <!-- <ion-scroll scrollX="true" class="dec"> -->
                <p class="scrollbar" [innerHTML]="sanitizer.bypassSecurityTrustHtml(description)" style="line-height: 20px;font-size:18px;padding-left:10px;padding-left:10px; padding-bottom:5px; "></p>
            <!-- </ion-scroll> -->


        </div>
    </div>
    <ion-grid *ngIf="scoreDiv" style="padding-top: 121px;">
            <ion-row>
                <ion-col>
                    <h2 style="text-align: center;
                       font-size: 30px;">Total</h2>
                    <!-- <h2 style="text-align: center;font-size: 29px;">
                        <b style="font-size: 42px;
                          color: green; ">{{score}}</b> /{{totalMark}}</h2> -->
                          <!-- <ion-badge item-end  class="badg">{{score}}/{{totalMark}}</ion-badge> -->
                          <ion-row>
                            <ion-col col-12>
                                <ion-badge item-end  class="badg">{{score}}/{{totalMark}}</ion-badge>

                            </ion-col>
                           
                        </ion-row>
                        </ion-col>
            </ion-row>
    
        </ion-grid>
        <ion-grid *ngIf="showLeaderBoard">
               
                    <ion-row class="tableRow">
                        <ion-col col-6>
                            Name
                        </ion-col>
                        <ion-col col-3>
                            Rank
                        </ion-col>
                        <ion-col col-3>
                            Mark
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of indexArray; let i = index;" class="tableColmn">
                        <ion-col col-6>
                            {{item.name}}
                        </ion-col>
                        <ion-col col-3 ng>
                            {{item.rank}}
                        </ion-col>
                        <ion-col col-3>
                            {{item.score}}
                        </ion-col>
        
        
                    </ion-row>
                
            </ion-grid>
            <div *ngIf="listview">
                                   <div *ngFor="let item of listviewData;let i=index;">
                                       <ion-row class="qsnHead">
                                           <ion-grid (click)="toggleDetails(item);" [ngClass]="{active: isGroupShown(item)}">
                                          <ion-row>
                                                  <ion-col col-2 style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:26px; padding-left: 0px;">
                                                       <span>{{i+1}}.</span>
                
                
                
                
                
                
                
                
                
                                                    </ion-col>
                                                   <ion-col col-10 style="padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">
                                                        <span [innerHtml]="item.question"></span>
                                                    </ion-col>
                                                </ion-row>
                                           </ion-grid>
                      
                                       </ion-row>
                                    <div *ngIf="isGroupShown(item)" style="background-color: #fffeee">
                           
                                           <div class="col-sm-12 bdr" *ngIf="imageFlag">
                                               <br>
                                       <img class="img-responsive" style="width: 400px;height: 400" [src]='url + item.question_image'>
                                               <br>
                                           </div>
                           
                                        <div *ngFor="let option of item.options">
                                               <ion-grid style="padding-bottom: 0px;
                                               padding-top: 0px;">
                                                   <ion-row style=" margin:0!important;border-bottom:none;" [ngClass]="{'correct':item.answer===option.id,'wrong':item.userAnswer===option.id}">
                                                       <ion-col col-2 style="padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3px !important;max-width: 13.76667%;">{{option.id}}.</ion-col>
                                                       <ion-col col-10 style="padding-left:5px!important;margin-left: 0px;line-height:23px; line-height:23px;font-size:18px;" [innerHtml]="option.text"></ion-col>
                                                   </ion-row>
                                               </ion-grid>
                                           </div>
                        
                                           <ion-row>
                                                <ion-col col-12>
                                                   <p style="font-weight:bold; font-size:18px;padding-left:10px;padding-top:8px;">Description:</p>
                                                   <!-- <ion-scroll scrollX="true" scrollY="true" class="dec" style="min-height:200px;height:auto;"> -->
                                                       <p class="scrollbar" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.description)" style="line-height: 20px;font-size:18px;"></p>
                                                   <!-- </ion-scroll> -->
                                               </ion-col>
                                           </ion-row>
                        
                                        </div>
                                   </div>
                                </div>
</ion-content>
<ion-footer style="padding: 0px;" *ngIf="!scoreDiv">
                  <div class="bar bar-footer bar-assertive" >
                          <ion-grid style="padding-left: 0px;padding-right: 0px; padding-top: 0px;padding-bottom:0px;">
                               <ion-col col-12 style="background-color:#cecece; ">
                                   <ion-row>
                                       <!-- <ion-col col-4 style="font-size:20px;text-align:center;">
                   
                                           <ion-icon ios="ios-bookmark" md="md-bookmark" [ngClass]="{'starred': star}"></ion-icon>
                                       </ion-col>
                                    <ion-col col-4 style="font-size:20px;text-align:center;">
                                           <ion-icon class="fabbb" ios="ios-clipboard" (click)="addNotes()" md="md-clipboard">
                                           </ion-icon>
                                       </ion-col> -->
                                       <!-- <ion-icon class="fabbb" *ngIf="!listview && !listStarView" ios="ios-clipboard" (click)="editNote()"
                                    md="md-clipboard">
                                       <ion-icon style="padding-top: 8px;" id="notifications-badge" ios="ios-checkmark" md="md-checkmark"></ion-icon>
                                     </ion-icon> -->
                                       <ion-col col-4 style="font-size:20px;text-align:center;float:right;">
                                           <ion-icon [ngClass]="(listClr)?'blueIcon':'icn'" ios="ios-list" md="md-list" (click)="listView()"></ion-icon>
                                    </ion-col>
                                </ion-row>
                               </ion-col>
                        </ion-grid>
                       </div>
                   </ion-footer>