
<style>

 .button-ios { 
    font-size: 1rem !important;

}    

.card-content-md {
    padding-left: -1px;
  }
  .card-md {
    margin-left:-4px !important;
    border-radius: 2px!important;
    width: calc(100% - -8px)!important;   
  }
  
  page-write .optionStyle {
      border-bottom:unset!important;   
  }
</style>
  <ion-header #head>
     
  
        <ion-toolbar>
            <ion-navbar>
                <ion-buttons left>
                    
                </ion-buttons>
              </ion-navbar>
          
    
    
        </ion-toolbar>
      </ion-header>
<ion-content padding style="background-color: #efefef;" >
    <!-- <ion-grid style=" background-color:#b4aeae;">
            <ion-row>
                <ion-col col-6>
                        <ion-icon name="arrow-back" style="font-size: 24px;" (click)="back()"></ion-icon>
                  &nbsp; &nbsp;  <ion-icon name="star" style="color:#ff6b01;font-size: 24px;"></ion-icon>
                </ion-col>
                <ion-col col-2 class="align-icon">
                    <ion-icon name="share-alt" style="font-size: 24px;"></ion-icon>
                </ion-col>
                <ion-col col-2 class="align-icon">
                    <ion-icon name="switch" style="font-size: 24px;"></ion-icon>
                </ion-col>
                <ion-col col-2 class="align-icon">
                    <ion-icon name="apps" style="font-size: 24px;"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid> -->

    <ion-card style="margin-top:0px;" *ngIf="questionData">
        <div *ngIf="questionData">

            <ion-row>
                    <ion-col col-12 class="count" style=" background-color:#cecece; padding: 8px!important" *ngIf="timeFlag">
                        <div class="count" style="float:left; padding-top:5px;">

                            <div style="font-size: 15px;color: #e13838;">
                                <span>{{ time.getHours() }}</span> :
                                <span>{{ time.getMinutes() }}</span> :
                                <span>{{ time.getSeconds() }}</span>
                            </div>
                        </div>

                        <div style=" float: right!important;">
                            <!-- <button ion-button class="playBtn" title={{pauseTitle}}  aria-hidden="true" (click)="playPause()" *ngIf="!buttonName"><ion-icon name="pause"></ion-icon>
                                        </button> -->
                            <ion-icon name="pause" class="playBtn" title={{pauseTitle}} (click)="playPause()" *ngIf="!buttonName"></ion-icon>

                            <!-- <button ion-button  class="playBtn" title={{playTitle}}  aria-hidden="true"  (click)="playPause()" *ngIf="buttonName"><ion-icon name="play"></ion-icon></button>   -->
                            <ion-icon name="play" class="playBtn" title={{pauseTitle}} (click)="playPause()" *ngIf="buttonName"></ion-icon>

                        </div>
                    </ion-col>

            </ion-row>

        </div>
        <ion-card-content  style="background-color:#FFFEEE;margin-left:-13px!important; margin-right:-13px!important;">
        
                <ion-item-group>
                    <ion-item-divider style="padding:0px;background-color:#FFFEEE;" text-wrap class="questionHead">
                        <ion-grid style="padding-bottom:0px !important;">
                            <ion-row style="border-bottom: 2px solid #f0f0f0;">
                                <ion-col col-2 style="padding-right:0px!important; line-height: 19px!important; font-size:18px;width:auto!important;max-width: 13.76667%;  padding-top:11px; padding-left:0px;">

                                    <span [innerHtml]="currentPaletteId+1">/</span>.
                                </ion-col>

                                <ion-col col-10 class="fntsze" style=" padding-left: 0px!important; line-height:24px !important;  color: black;font-size:18px!important;">

                                    <span [innerHtml]="questionData.question"></span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                    <ion-list *ngFor="let item of options ;let i= index;">
                        <ion-item text-wrap class="optionStyle" disabled="answered" (click)="saveAnswer(item.id,i)" style="padding-left:0px!important; min-height: 0.0rem !important; background-color:#FFFEEE!important;border-bottom: none!important; ">

                            <div [ngClass]="{'selected': answered === true && clickedItem === item.id}">

                                <ion-grid style="padding:0px!important;">
                                    <ion-row>
                                        <ion-col col-2 style=" padding-right:0px!important; margin-right:0px; font-size:18px!important;font-weight:unset!important;padding-left:3pxpx !important;max-width: 13.76667%;">{{item.id}}.</ion-col>
                                        <ion-col col-10 style=" font-size:18px!important;padding-left:2!important;margin-left: 0px;line-height:22px;line-height:26px;">
                                            <span> {{item.text}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>




                            </div>
                        </ion-item>
                    </ion-list>



                </ion-item-group>
           
        </ion-card-content>

        <ion-row style="margin-top:10px;">
            <ion-col col-4>
                <button style="text-align:left;  padding: 0px  15px 0px 15px; font-size: 20px ;background-color:#108fd2;" ion-button color="primary"  icon-left (click)="previous()" [disabled]="noPreviousQuestion || paused">Previous</button>

            </ion-col>
            <ion-col col-4 style="text-align:center;">

              
                
                <button float-center ion-button style="margin-left: 29px;" style=" text-align: center; background-color:#108fd2; padding: 0px 15px 0px 15px; "
                    color="primary" icon-left (click)="mark((questionPalette[currentPaletteId].marked == 'marked') ? 'unmarked': 'marked')"
                    [disabled]=paused>{{(questionPalette[currentPaletteId].marked == 'marked') ? 'Unmark': 'Mark'}} </button>


            </ion-col>
            <ion-col col-4 style="text-align:center;">
                <button float-right ion-button color="primary" style="background-color:#108fd2;color:white;margin-right:4px; padding: 0px 15px 0px 15px;" icon-right
                    (click)="!noNextQuestion && next();noNextQuestion && finishExam('')" [disabled]=paused>{{(noNextQuestion)?'Submit':'Next'}}</button>

            </ion-col>
        </ion-row>
    </ion-card>


    <!-- <ion-card style="margin-top:0px;">
    <ion-card-content style="margin-top:0px;">

        <ion-grid>

            <ion-row>
                <ion-col style="border: 1px solid black;">

                    <div><span class="question" [innerHtml]="currentPaletteId+1">/</span><span class="question" [innerHtml]="currentPaletteId+1" [innerHtml]="questionData"></span>
                        <span class="question"></span>&nbsp;&nbsp;<span class="question"></span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of options ;let i= index;" [ngClass]="{'selected': answered === true && clickedItem === item.id}"
                disabled="answered" (click)="saveAnswer(item.id,i)">
                <ion-col style="border: 1px solid black;">
                    {{i+1}} {{item.text}}
                </ion-col>
            </ion-row>



            <ion-row style="border: 1px solid black;">
                <ion-col>
                    <button ion-button style=" background-color:#108fd2;color:white;" (click)="previous()" [disabled]="noPreviousQuestion">Previous</button>
                </ion-col>
                <ion-col>

                    <!-- <button ion-button style="background-color:#108fd2;color:white;" (click)="mark((questionPalette[currentPaletteId].status == 'marked') ? 'unmarked': 'marked')">{{(questionPalette[currentPaletteId].status == 'marked') ? 'Unmark': 'Mark'}}</button> -->
    <!-- </ion-col>
                <ion-col>
                    <button ion-button style="background-color:#108fd2;color:white;" (click)="!noNextQuestion && next();noNextQuestion && finishExamModal()">{{(noNextQuestion)?'Submit':'Next'}}</button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </ion-card-content>

</ion-card>-->

    <!-- <ion-card style="height:120px;background-color: #f8f8f8;">-->

    <ion-grid style="height:180px;background-color: #fff;margin-top:10px!important;">
        <p sstyle="text-align:center; margin-bottom:4px!important;font-size: 18px;">Question Palette</p>

        <ion-scroll scrollY="true" style="height:160px;">

            <ion-row>
       
                <ion-col col-2 col-md-4 col-xl-3 style="margin-top:0px;" style="margin-top:0px; max-width: 12.0000%!important;" *ngFor="let item of questionPalette ;let i= index;">
                    <ion-col  class="circleStyle"  [ngClass]="{'selected': item.status === 'answered', 'marked': item.marked === 'marked'}"    
                    (click)="goToQuestion(i)">
                        {{item.count+1||i+1}}

                    </ion-col>
                    <!-- <ion-col class="circleStyle" [ngClass]="{'selected': item.status === 'answered', 'marked': item.marked === 'marked'}" (click)="goToQuestion(i)">
                        {{item.count+1||i+1}}

                    </ion-col> -->




                </ion-col>



            </ion-row>

        </ion-scroll>
    </ion-grid>

    <!-- <ion-card style=" min-height:100px; margin-top:0px;background-color: #f8f8f8;">-->
    <hr>
    <ion-grid style="margin-top:0px;background-color:#cecece;">
        <ion-row>

            <ion-col col-6 (click)="filter('na')">
                <ion-col col-1 class="circle">
                    &nbsp;&nbsp;
                </ion-col>
                &nbsp; Not Answered
            </ion-col>
            <ion-col col-6 (click)="filter('a')">
                <ion-col col-1 class="circle1">
                    &nbsp;&nbsp;
                </ion-col>
                &nbsp;Answered
            </ion-col>
        </ion-row>

        <ion-row style="padding-top: 10px;">
            <ion-col col-6 (click)="filter('m')">
                <ion-col col-1 class="circle2">
                    &nbsp;&nbsp;
                </ion-col>
                &nbsp;&nbsp; Marked
            </ion-col>
            <ion-col col-6 (click)="filter('')">
                <ion-col col-1 class="circle">
                    &nbsp;&nbsp;
                </ion-col>
                &nbsp;
                 All Questions
            </ion-col>

        </ion-row>
        <!-- <button ion-button style="background-color:#e48684;color:white; float:right;padding-top:2px;" (click)="finishExam('')">Submit Exam</button> -->
    </ion-grid>



</ion-content>
<ion-footer>
    <button ion-button block style="background-color:#e48684;color:white;" (click)="finishExam('')">Submit Exam </button>
</ion-footer>