page-note{

	.segment-ios-primary .segment-button.segment-activated {
		color: #fff;
		background-color:#108fd2;
	}


	.card-ios {
        margin:-2px;
        border-radius: 2px;
        width: calc(100% - -5px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .toolbar-title-ios {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      color:white;
      pointer-events: auto;
  }


    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    
    .item-ios p {
    font-size: 18px;
    color: black;
    padding-top:7px;
    }
	.card-background-page {
	
		ion-card {
			position: relative;
			text-align: center;
			height: 30%;
		}
	
		.card-title {
			font-size:15px;
			width: 100%;
			font-weight: bold;
			color:black;
		}
	
		.card-subtitle {
			font-size: 1.3em;
			position: absolute;
			top: 52%;
			width: 100%;
			color:black;
		}
	
	}
	.toast-container{
		background-color: #108fd2 !important;
	 }
	 .center{
		padding-left: 50%;
		padding-right: 50%;
	   
	  }
   .bgh{

	background-color: #108fd2 !important;
	color: #108fd2 !important;
   }
   .note {
	margin: 3px !important;
	padding: 15px;
	min-height: auto!important;
  // background-color:#FFFEEE!important;
   width:100% !important;
  // background-color: #F9F59F;
	display: inline-block; }
	
	
	.clr{
        color: #108fd2;
		float: right;
		font-size: 30px;
        
	}	
	.cdclr{
		background-color:#f0f0f0;
		// background-color: #F9F59F;
		font-size: 19px;font-weight: bold;
			}
	.bgpic{
		background-image: url('../assets/img/new bg 5.png');
		//background-repeat: no-repeat;//
		background-position: center;
		background-size: contain;
		width: 100%;
	  }
	  .card-md {
        margin-left: -3px !important;
        border-radius: 2px!important;
        width: calc(100% - -5px)!important;
	}
	.card-md {
		 margin: 0px !important; 
	}
	}