<ion-header>
  <ion-navbar style="color:#108fd2;">
    <!-- <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Notes </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bgpic">
  <ion-segment [(ngModel)]="create" color="primary" (ionChange)="segmentChanged($event)">
   
    <ion-segment-button value="daily">
      Daily Note
    </ion-segment-button>
    <ion-segment-button value="created">
      Created Note
    </ion-segment-button>
  </ion-segment>
  <!-- <div class="center" *ngIf="!allNotesData || !miniNotes">


    <ion-spinner></ion-spinner>

  </div> -->

  <!--<ion-card *ngFor="let item of allNotesData; let i= index;" style="min-height: 21%;">
<ion-card-header  style="background-color: #f8f8f8;
font-size: 19px;text-align: center;">
  <a (click)="goLastStudy(i)" style="color: #108fd2;"> Note {{i+1}}: {{item.subjectArray[2].name|slice:0:15}}... </a>

  <button ion-button  (click)="deleteNote(i)" style="float: right;
  /* color: #108fd2; */
  background-color: #e23d3d;
  font-size: 15px;"><ion-icon name="ios-trash" ></ion-icon></button>  

  
    

</ion-card-header>
<ion-card-content style=" padding-top: 13px;">
  {{item.noteContent}}

</ion-card-content>
</ion-card>-->
  <ion-grid *ngIf="created">
      <ion-card *ngFor="let item of allNotesData; let i= index;"  (click)="goLastStudy(i)">
          <ion-card-header style="background-color: #F9F59F;font-size: 19px;font-weight: bold;">
              <a (click)="goLastStudy(i)" style="color: #a94442;font-size: 19px;
              font-weight: bold;"> Note {{i+1}}: {{item.subjectArray[2].name|slice:0:15}}... </a>
              <button ion-fab class="pop-in" color="danger" (click)="deleteNote(i)" style="float: right;
              width: 32px;
              height: 32px;">
                <ion-icon name="close"></ion-icon>
              </button>
            
          </ion-card-header>
          <ion-card-content style="background-color: #fff; height: 58px;
          padding: 9px; border-style: solid; border-color:#faf8c0;
          border-width: 3px;">
               {{item.noteContent}}
          </ion-card-content>
          </ion-card>
          </ion-grid>
   

  <ion-grid *ngIf="daily">
    <div >
      <ion-row >
        <ion-col col-12> <h5>Recently Added Notes</h5></ion-col>
        <ion-col col-12 *ngFor="let item of noteArray | slice:0:2; let i= index;">
    <ion-card  (click)="toggleGroup(item)"  style="background-color: #faf8c0;height: 54px;" >
        <ion-card-header >
         
          <ion-col col-12>
      <a  style="color: #108fd2;font-size: 16px;
        font-weight: bold;">{{item.noteTitle |slice:0:25}}... </a>
        <ion-icon class="clr"   name="eye" (click)="goDailyNotes(item._id,item.demoFlag,'added')"  ></ion-icon>
    
      </ion-col>
     
      
        </ion-card-header>
    
    </ion-card>
    
    
    </ion-col>
    </ion-row>
    
    </div>
    
    

<div  *ngIf="recentDiv">
    <ion-row >
      <ion-col col-12> <h5 style="padding-top: 13px;">Recently Viewed Notes</h5></ion-col>
      <ion-col col-12 *ngFor="let item of recentNotes | slice:0:2;  let i= index;">
  <ion-card  (click)="toggleGroup(item)"  style="background-color: #faf8c0;height: 54px;" >
      <ion-card-header >
       
        <ion-col col-12>
    <a  style="color: #108fd2;font-size: 16px;
      font-weight: bold;">{{item.noteTitle |slice:0:25}}... </a>
      <ion-icon class="clr"   name="eye" (click)="goDailyNotes(item.noteId,item.demoFlag,'recent')"  ></ion-icon>

    </ion-col>
   
    
      </ion-card-header>

</ion-card>


</ion-col>
</ion-row>

</div>







      <ion-row *ngIf="miniNoteDiv">
          <ion-col col-12> <h5 style="padding-top: 13px;">Subjectwise Notes</h5></ion-col>
          <ion-col col-12 *ngFor="let item of miniNotes; let i= index;">
      <ion-card  (click)="toggleGroup(item)"  >
          <ion-card-header style="background-color: #faf8c0;font-size: 16px;font-weight: bold;">
              <ion-col col-12>
        <a  style="color: #108fd2;font-size: 16px;
          font-weight: bold;">{{item.subjectName}} </a>
        
          <ion-icon *ngIf="!isGroupShown(item)" name="add" style="color: #108fd2;font-size: 16px;
          float: right;
          font-weight: 700;"></ion-icon>
          <ion-icon  *ngIf="isGroupShown(item)" name="remove" style="color: #108fd2;font-size: 16px;
          float: right;
          font-weight: 700;"></ion-icon>
          </ion-col>
          </ion-card-header>
<div *ngIf="isGroupShown(item)"  style="background-color: #fff;height: auto;
padding: 9px; border-style: solid; border-color:#fff;
border-width: 1px;">
<!-- <ion-scroll scrollY="true" style="height: 183px;"> -->
<ion-card  *ngFor="let items of item.noteTitle; let i= index;">
    <ion-card-header>
  <ion-col col-9>
     <span style="color:#a94442">  {{items.noteTitle | slice:0:25}}...</span>
  </ion-col>
  <ion-col col-3>
    <ion-icon class="clr"   name="eye" (click)="goDailyNotes(items._id,items.demoFlag,'daily');saveRecentNote(items._id,'save')"  ></ion-icon>

  </ion-col>
  </ion-card-header>
    </ion-card>
    <!-- </ion-scroll> -->
</div>
    </ion-card>
   
 
</ion-col>
</ion-row>







</ion-grid> 
  
  


</ion-content>