<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Timetable</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding class="bgpic">
        <img src="assets/img/timetable.jpg" alt="evaluate" style="border: none; width: 100%;height: 104%;" >

      </ion-content>