
page-Login{
.bgpic{
  background-image: url('../assets/img/new bg-6 .png');
  //background-repeat: no-repeat;//
  background-position: center;
  background-size: contain;
  width: 100%;
}
}
.no-scroll .scroll-content{
  overflow: hidden;
}
.LogBttn{
  width:100%;
  //background-color: #108fd2 !important;
     // color: #fff !important;   
       
}

.bgcolor{
    
  background-color:#108fd2;
  color:#ffffff; 
}
.signBttn{
  width:100%;
  
}

.terms{
  font-size: 13px;
    font-style: italic;
    text-align: center;
}
.socialBtn {
  box-sizing: border-box;
    position: relative;
    margin:2px;
    
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width:100%;
}
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.signupFooter{
  background-color: #f8f8f8;
  height:auto;
    width: 100%;
    margin-left: 0%;
    margin-top: 6px;
    padding:11px;
}
.footer{
  background-color: #f8f8f8;
  height:auto;
    width: 100%;
    margin-left: 0%;
    margin-top: 6px;
    padding:11px;
}

