<ion-content padding  class="bgpic" style=" background-color:#efefef">
  <ion-grid>
    <ion-row responsive-sm>
      <ion-col>
        <div>

          <img src="assets/img/logo-2.png" alt="logo" style="width: 130px;">
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-6 style="padding-left:0px !important;">
        <button ion-button class="LogBttn" id="routeLogin" (click)="onLogin()" [ngStyle]="{'background-color':  colorLog,'color':fontLog}">
          Login</button>
        </ion-col>

          <ion-col col-6 >
        <button ion-button class="signBttn" (click)="onSignup()" [ngStyle]="{'background-color':  colorSign,'color':fontSign}">Sign Up</button>
      </ion-col>
    </ion-row>

    
  </ion-grid>


  <ion-grid >

    <ion-row responsive-sm>
        <ion-col col-12 style="font-style: italic;color: black;" *ngIf="login">Login with</ion-col>

        <ion-col col-12 style="font-style: italic;color: black;" *ngIf="temp">Sign Up with</ion-col>
      <ion-col col-6 style="padding-left:0px !important;">
        <button class="socialBtn loginBtn--facebook" style="text-align: center;" (click)="loginWithFacebookNew()" >
          <ion-icon name="logo-facebook" style="color: #fff;" style="text-align: center;"></ion-icon>  Facebook
        </button>
        </ion-col>  

        <ion-col col-6>
        <button class="socialBtn loginBtn--google" style="text-align: center;" (click)="loginWithGoogle()" >
          <ion-icon name="logo-googleplus" style="color:#fff;" style="text-align: center;"></ion-icon>  Google
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <p style="text-align:center;color:black">or</p>
  <form *ngIf="login" #loginForm="ngForm" (ngSubmit)="Submitlogin(loginForm.value)" novalidate>
    <ion-list style="padding:10px;">

      <ion-item>
        <ion-label>e-mail</ion-label>
        <ion-input type="text" #email="ngModel" id="email" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
          name="email" required ngModel>
          <!-- <ion-input [(ngModel)]="username" name="username" type="text" #usernames="ngModel" spellcheck="false" autocapitalize="off"
       required> -->
        </ion-input>

      </ion-item>
      <div class="error" *ngIf="email?.errors && (email?.touched || email?.dirty)">
        <p class="error" [hidden]="!email.errors.required"> Please enter your email. </p>
        <p class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </p>
      </div>
    </ion-list>
    <ion-list style="padding: 10px;">
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" class="form-control" #password="ngModel" id="password" name="password" required ngModel>
        </ion-input>
      </ion-item>
      <div class="error" *ngIf="password.errors && (password.touched || password.dirty)">
        <p class="error" [hidden]="!password.errors.required"> Please enter your password. </p>
      </div>

    </ion-list>
    <div class="error" align="center">
      {{msg}}
    </div>

    <ion-row responsive-sm>

      <!-- <ion-col>
       <button ion-button block class="bgcolor"(click)="onSignup()" color="light" block>Signup</button>
     </ion-col>-->

      <ion-col col-12 style="padding:10px;"> 
        <button ion-button block class="bgcolor" type="submit" [disabled]="!loginForm.form.valid " >Login</button>
      </ion-col>

    </ion-row>

    <ion-grid>
      <ion-row responsive-sm>
        <ion-col col-12>
          <div text-center>
            <a style="color: black" [navPush]="forgot">Forgot Your Password</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



  <form *ngIf="temp" #signupForm="ngForm" (ngSubmit)="SubmitSignup(signupForm.value)">
    <ion-grid>

      <ion-row responsive-sm>
        <ion-col >
          <ion-list>

            <ion-item >
              <ion-label style="margin-right:-45px;" fixed>	&#160;Name</ion-label>
              <ion-input type="text" class="form-control" #firstName="ngModel" pattern="[a-zA-Z][a-zA-Z ]{1,}" name="name" required ngModel></ion-input>

            </ion-item>

            <div class="error" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
              <p class="error" [hidden]="!firstName.errors.pattern"> Please enter valid name. </p>

            </div>

          </ion-list>
          <ion-list >


            <ion-item>
              <ion-label>e-mail</ion-label>
              <ion-input type="text" #email="ngModel" class="form-control" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
                name="email" required ngModel></ion-input>


            </ion-item>
            <div class="error" *ngIf="email.errors && (email.touched)">
              <p class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </p>


            </div>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" #password="ngModel" class="form-control" name="password" required ngModel></ion-input>


            </ion-item>
            <div class="error" *ngIf="password.errors && (password.touched || password.dirty)">
              <p class="error" [hidden]="!password.errors.required"> Please enter your password. </p>
            </div>

          </ion-list>


        </ion-col>

      </ion-row>

    </ion-grid>
    <div class="error" align="center">
      {{msg}}
    </div>

    <p class="terms" style="color: black;">By Sign Up,you agree to nextfellow <b><a href="https://www.nextfellow.com/terms">
      Terms of Use</a></b> and <b><a href="https://www.nextfellow.com/privacy">
        Privacy Policy
        </a></b></p>

    <div>

      <ion-row responsive-sm>


        <ion-col col-12 style="padding:11px;">
          <button ion-button block class="bgcolor" type="submit" [disabled]="!signupForm.form.valid ">Sign Up</button>
        </ion-col>

      </ion-row>



    </div>
  </form>


  
</ion-content>