page-details{
  
  .label-md{

       margin: 0px 0px 0px 0px !important;
  }

  .optionStyle .label-md {
    margin: 0px 0px 13px 0;
}
.item-md.item-block .item-inner {
    padding-right:0px;
    border-bottom: none;
}


  ion-slide {
      width: 40%!important;
    }
    .label-md{

      margin-top: 0px;
      margin-bottom: 0px;
      
      margin-right: 0px;
      }

    .unselected{
      color: #108fd2;
      background-color:white;
      font-size:15px!important;
  }
  
  .correct{
      background-color:#66BB6A !important;
    }
    .wrong{
      background-color:#DE726B !important;
    }
  .selected{
    border-bottom: 4px solid #108fd2;
    color: #108fd2 !important;
    font-size: 15px;
  
  }
  
    .badg{
      font-size: 32px;
       margin: auto;
      text-align: center;
      display: block;
       margin-top: 23px;
       width: 200px;
      // background-color: #108fd2;
      background-color: #83c177;
      }
    
  .btnPrev{
      position: absolute;
      left: 2vw;
      top: 3vh;
   }
   .fabNote{
    width: 41px;
    height: 41px;
    background-color: #F9F59F;
    color: #a94442;
    margin-bottom: 255px;
  }
   
 /*  .dec p {
  white-space:normal; 
  overflow: visible;
  color:black!important;
 

  .dec table, th, td, tbody, thead, tr {
    border: 1px solid black!important;
    color: black!important;
    width: auto;
    overflow-x: auto;
    overflow-y: auto;

  }
   */
 
  .starred {
    color:#108fd2;
  }
   .btnNext{
      position: absolute;
      right: 1vw;
      top: 3vh;
   }

   .questionHead {
             
    padding: 0px 0px 0px 0px;
    background-color: #fff;
  }
    .question-wrap {
      // border-right: 1px solid #e2e1e1;
      // border-left: 1px solid #e2e1e1;
     //  border-top: 1px solid #e2e1e1;
     padding: 0px 0px 0px 0px!important; 
         background-color: #fff;
         margin-top:0px;
     }
     .answer-wrap {
      // border-right: 1px solid #e2e1e1;
      // border-left: 1px solid #e2e1e1;
       border-bottom: 1px solid #e2e1e1;
       padding: 3px 9px 27px 9px;
       background-color: #fff;
       padding: 0px 0px 0px 0px!important; 
     }
     .optionStyle {
             
      border-bottom: 1px solid #e2e1e1;
   
      background-color: #fff;
    }
    .blueIcon{
  
      color: #108fd2!important;
     }
    .qsnHead{
      background-color: #fffeee;
      font-size: 14px;
      border-bottom: 1px solid #d4caca;
    }
    .tableRow{
      border: 1px solid #d6c9c9;
        background-color: darkgray;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
    .tableColmn{
      background-color: lightgray;
        text-align: left;
    }

    .bgpic{
      background-image: url('../assets/img/new bg 5.png');
      //background-repeat: no-repeat;//
      background-position: center;
      background-size: contain;
      width: 100%;
    }
    .item-md p{

      color:black!important;
      font-size:18px;
      // padding-bottom:15px;
      // padding-top:15px;
   
   }
   .item-divider-md {
      //padding-left: 16px;
      border-bottom: 1px solid #dedede;
      font-size: 1.4rem;
      color:black !important;
   }
  
   

  


   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    
}

td, th {
    border: 1px solid #f0f0f0;
    text-align: left;
    padding: 8px;
    border-color: black;
}
th{
  background-color: #108fd2;
  color:white!important;
  
   }


tr:nth-child(even) {
    background-color: #f0f0f0;
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #FFFeee;
	overflow-X: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height:auto;
}
.scrollbar{

  height:auto!important;
  width:100%;
  margin-left:0px; 
}
}
